<div class="col-md-12 artist-home ">
  <div class="title my-3">
      <h3>Nhạc theo chủ đề</h3>
  </div>

  <div class="chart" *ngIf="listTopic">
    <div class="col-12 p-0">
      <div class="row mb-3">
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 my-2" *ngFor="let topic of listTopic; let i = index">
          <div class="col-12">
            <div class="row chart-row song text-center" (click)="navigate(topic.id)">
              <div class="imange-show">
                <img class="img-fluid w-100" style="min-height: 200px; max-height: 200px;" [src]="topic.url">
                <div class="content">
                  <div class="text"><i class="fa fa-play-circle-o" aria-hidden="true" style="font-size: 3rem; color: white;"></i></div>
                </div>
              </div>
              <h5 class="text-center w-100" style="font-weight: bold;">{{topic.name}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
