<div class="col-md-12 genre-home">
  <div class="title my-3 title-chart ">
    <h2 class="title-name">Thể loại</h2>
    <p>Các thể loại nhạc đang thịnh hành</p>
  </div>

  <div class="chart" *ngIf="listGenre">
    <div class="col-12 p-0">
      <div class="row">
        <div class="col-12  d-flex">
          <div class="row mb-3">
            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 mb-2"
              *ngFor="let genre of listGenre; let i = index">
              <div class="col-12">
                <div class="row chart-row song" (click)="navigate(genre.id)">
                  <div class="imange-show">
                    <img class="img-fluid w-100" style="min-height: 200px; max-height: 200px;" [src]="genre.url">
                    <div class="content">
                      <div class="text"><i class="fa fa-play-circle-o" aria-hidden="true" style="font-size: 3rem; color: white;"></i></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>