.genre-home {
  color: #ffffff;
  background: #191e38;

  .title-name {
    font-size: 2rem !important;
    line-height: 1.3 !important;
    color: #fff !important;
    font-weight: 700 !important;
  }

  img {
    border-radius: 5px;
    border: 3px solid #fff ;
  }

  .title-chart {
    padding: 20px 0 10px 0;

    p {
      margin-bottom: 5px;
      font-size: 1.3rem;
      font-weight: 400;
      color: #fff !important;
    }
  }
}
