.dialog-song {
  max-height: 80vh;
  input {
    color: #fff !important;
  }

  .img-upload {
    // width: 100%;
    height: 200px;
    max-height: 300px;
  }

  .error {
    color: #f44336;
    font-size: 75%;
  }
  audio{
    height: 30px;
  }
  .white{
    span{
      color: white;
    }
  }
  textarea{
    color: white;
  }
}
