<div class="m-b-10 dialog-song">
    <div class="admin">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="p-t-10 p-b-10 title">
                Thêm Bai hat
            </div>
        </div>
        <form class="example-form my-2" [formGroup]="createForm">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-4">
                <div class="row">
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label class="white">Tên Bai hat</mat-label>
                        <input matInput class="input-field white" [formControlName]="'songName'" maxlength="255">
                        <mat-error *ngIf="hasError('songName','required')">
                            Tên chủ đề không được để trống
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 margin-t">
                        <mat-label class="white">Mô tả</mat-label>
                        <textarea matInput class="col-12 p-0 des white" formControlName='songDes'></textarea>
                        <mat-error *ngIf="hasError('songDes','required')">
                            Mô tả album không được để trống
                        </mat-error>
                    </mat-form-field>

                </div>
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-4">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <div class="row">
                            <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                                <mat-label>Chọn ngày phát hành</mat-label>
                                <input matInput [matDatepicker]="picker" [formControlName]="'songReleaseDate'">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>


                            <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                                <mat-label>The loai</mat-label>
                                <mat-select class="white" [formControlName]="'songGenreId'">
                                    <mat-option *ngFor="let genre of genreses" [value]="genre.id">
                                        {{genre.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="hasError('songGenreId','required')">
                                    Thể loại không được để trống
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="row">
                            <mat-form-field class="col-md-6">
                                <mat-label>Khu vuc</mat-label>
                                <mat-select class="white" [formControlName]="'songCountryId'">
                                    <mat-option *ngFor="let country of countries" [value]="country.id">
                                        {{country.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="hasError('songCountryId','required')">
                                    Khu vực không được để trống
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="col-md-6">
                                <mat-label>Album</mat-label>
                                <mat-select class="white" [formControlName]="'songAlbumId'">
                                    <mat-option *ngFor="let album of albums" [value]="album.id">
                                        {{album.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="hasError('songAlbumId','required')">
                                    Album không được để trống
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-4">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <mat-form-field class="w-100 margin-t">
                            <mat-label class="white">Lời bài hát</mat-label>
                            <textarea matInput class="col-12 p-0 des" formControlName='lyric'>
                                </textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-9">
                                <mat-form-field class="w-100">
                                    <mat-label class="white">Ca sĩ</mat-label>
                                    <input matInput readonly [formControlName]="'singer'">
                                    <mat-hint *ngIf="checkSinger && checkSinger.length > 0" style="font-size: 1em;" class="error">
                                        {{checkSinger}}
                                    </mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="w-100" mat-raised-button (click)="openSinger()"
                                    color="primary"><i class="fa fa-search" aria-hidden="true"></i>
                                    Chọn</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-4">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">

                        <div class="row p-0 m-0 mb-3">
                            <div class="custom-file">
                                <input type="file" (change)="selectFileSound($event)" class="custom-file-input"
                                    id="customFile">
                                <label class="custom-file-label" for="customFile">Chọn bài hát</label>
                            </div>
                            <div class="error">
                                {{messageErrorFile}}
                            </div>
                        </div>
                        <div class="row pl-0 ml-0 mt-6 w-100">
                            <audio class="w-100" controls [src]="soundPath |Base64 : 'data:audio/mp3;base64,'"></audio>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="row pl-0 ml-0">
                            <mat-label class="label">Ảnh hiển thị </mat-label>
                        </div>
                        <input style="display: none" id="uploadSound" class="input-upload" type="file" name="fileImage"
                            (change)="selectFileImage($event)" size="6MB" #fileImageInput>
                        <img (click)="fileImageInput.click()" class="img-upload" *ngIf="imgPath" [src]="imgPath">
                        <img (click)="fileImageInput.click()" class="img-upload" *ngIf="!imgPath"
                            src="assets/img/common/default-image.jpg">
                        <div class="error">
                            {{messageErrorImg}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-4 text-right">
                <button type="button" style="color: black;" mat-raised-button (click)="close()"> <i class="fa fa-times"></i> Đóng</button>
                <button type="button" mat-raised-button (click)="saveSong()" color="primary"><i
                        class="fa fa-floppy-o"></i>
                    Thêm</button>
            </div>
        </form>
    </div>
</div>