<div class="carousel-custom">
    <div class="header mt-2">
        <div class="row">
            <div class="col-xl-4">
                <h5 style="font-weight: bold;">{{title}}</h5>
            </div>
            <div class="col-xl-8 text-right pr-4 cuso" (click)="showAll()">
                Xem tất cả
            </div>
        </div>
        <!-- <carousel *ngIf="showAll" [itemsPerSlide]="itemsPerSlide" [singleSlideOffset]="singleSlideOffset"
            [startFromIndex]="0" [showIndicators]="false" [interval]="false">
            <slide class="m-0 p-3" *ngFor="let slide of slides; let index=index">
                <div class="image-slide cuso" [style.background-image]="'url(assets/' + slide.image + ')'"
                    (click)="select(slide.id)" alt="image slide"></div>
                <h6 class="text-center m-2 cuso" (click)="select(slide.id)">{{slide.name}}</h6>
            </slide>
        </carousel> -->

        <app-content [lists]="list" (selectAll)="selectall($event)" (selectItem)="select($event)"></app-content>
    </div>
</div>