<div class="box w-100 cuso">
    <div class="div" style="position: absolute;">
        <div class="container">
            <img [src]="base64 | Base64" height="230" width="240" class="cuso" style="border-radius: 10%;"
                class="img-responsive img-portfolio img-hover image">
            <div class="overlay text-center">
                <i class="fa fa-play-circle" style="color: white; font-size: 10rem; margin-top: 20%;" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>