<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="unlock-title p-t-10 p-b-10 title">
            Danh sách người dùng
            <i class="fa fa-plus poiter" (click)="openCreate()" aria-hidden="true" style="font-size: 20px;"></i>
        </div>
    </div>
</div>

<table class="table table-hover" style="text-align: center;">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Họ Tên</th>
            <th scope="col" >Email</th>
            <th scope="col" >Ngày sinh</th>
            <th scope="col ">Giới tính</th>
            <th scope="col" >Hình ảnh</th>
            <th scope="col" >Số điện thoại</th>
            <th scope="col">Trạng thái</th>
            <th scope="col" >Tài Khoản</th>
            <th scope="col" >Hành động</th>
        </tr>
    </thead>
    <tbody *ngIf="!listUser || listUser.length == 0">
        <tr>
            <td class="text-center" colspan="13">Danh sách trống</td>
        </tr>
    </tbody>
    <tbody *ngIf="listUser && listUser.length > 0">
        <tr *ngFor="let user of listUser | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
            <th class="middle" scope="row">{{i + 1}}</th>
            <!-- <td class="middle">{{user.id}}</td> -->
            <td class="middle">{{user.fullName}}</td>
            <td class="middle" >{{user.email}}</td>
            <td class="middle" >{{user.birthday | date: 'dd/MM/yyyy'}}</td>
            <td class="middle" >{{user.gender ==1 ?'Nam' : 'Nữ'}}</td>
            <td >
                <img [src]="user.url" alt="" style="width: 250px; height: 200px;">
            </td>
            <td class="middle" style="text-align: center;">{{user.phone}}</td>
            <td class="middle" style="text-align: center;">{{user.status == 1 ? 'Hoạt động' : 'Không hoạt động'}}</td>
            <td class="middle" style="text-align: center;">{{user.username}}</td>
            <td class="middle">
                <i class="fa fa-pencil poiter mr-2" aria-hidden="true" (click)="openEdit(user.id)"></i>
                <i class="fa fa-trash poiter mr-2" aria-hidden="true" (click)="deleteGenre(user.id)"></i>
                <i *ngIf="user.status == 1" class="fa fa-lock poiter" (click)="lockUnlock(user)" aria-hidden="true"></i>
                <i *ngIf="user.status == 0" class="fa fa-unlock poiter" (click)="lockUnlock(user)" aria-hidden="true"></i>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-right">
    <pagination-controls (pageChange)="p = $event"
    previousLabel="Lùi"
    nextLabel="Tiến">

    </pagination-controls>
</div>
