<div class="login">
    <app-login (register)="register($event)" [regis]="regis" *ngIf="!regis"></app-login>
    
    <app-register-music *ngIf="regis" (login)="register($event)" [regis]="regis"></app-register-music>
</div>