.sidebar-minimized .sidebar .sidebar-minimizer {
  position: sticky !important;
}

.example-tooltip-red {
  background: #20a8d8;
  width: 80px;
  padding: 5px;
  font-size: 18px !important;
}

app-sidebar-minimizer {
  position: sticky !important;
}

// .nav-icon-left:hover{
//   // padding: 5px;
// }
.nav-icon-left {
  padding: 5px;
}

.icon-nav {
  margin-left: 5px;
  font-size: 30px;
}

.testzz {
  height: calc(100vh - 123px) !important;
  bottom: 70px;
}

.side-admin{
  bottom: 0;
}

app-header {
  background: #1b2039 !important;
  top: 0;
}

.app-body {
  overflow-x: inherit !important;
}

.search {
  width: 50%;
  display: flex;
  margin: auto;
}

.foodt {
  margin-bottom: 55px;
  border: none;
  background: #191e38;
}

.searchTerm {
  width: 100%;
  border: none;
  border-right: none;
  padding: 5px 10px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #393F5A;
}

.searchTerm:focus {
  color: #393F5A;
}

.searchButton {
  cursor: pointer;
  width: 50px;
  height: 36px;
  border: 1px solid #393F5A;
  background: #393F5A;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
}

.des {
  color: rgb(184, 193, 236);
}

.language {
  color: #20a8d8;
}

.mat-nav-item {
  background: red !important;
}

.sidebar-nav {
  background: #1f264b;
}

.main {
  background: #191e38;
}
.app-body {
  overflow-x: inherit;
}

.logo {
  width: 200px;
  margin: auto;
  height: 100px;
  background-image: url("assets/logo3.png");
  background-position: center;
}

.footer {
  color: #fff;
  background-color: #393f5a;
}

.trying {
  // margin-top: 2.5rem;
  border-radius: 3px;
  // font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  background-color: #393F5A;
  color: #fff;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  display: inline-block;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  width: 110px;
  height: 36px;
}