<app-header #header style="border-bottom: 1px solid;" [navbarBrandRouterLink]="[defaultLink]" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/logo2.png', width: 120, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/logo.png', width: 50, height: 50, alt: 'CoreUI Logo'}" [sidebarToggler]="'lg'">
  <div class="search" *ngIf="!isAdmin">
    <app-search class="w-100"></app-search>
  </div>

  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item d-md-down-none dropdown">
      <a class="headerIcon" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fa fa-language fa-2x translate"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <sa-language-selector></sa-language-selector>
      </div>
    </li>

    <!-- <li class="nav-item d-md-down-none dropdown" *ngIf="!isAdmin">
      <a class="headerIcon" href="#" role="button" id="notify" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fa fa-bell-o fa-2x translate"></i><span class="badge badge-pill badge-danger">5</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notify">
        <a class="dropdown-item cuso"><i class="fa fa-circle" aria-hidden="true"></i> Thông báo số 1
          nè ae</a>
        <a class="dropdown-item cuso"><i class="fa fa-circle" aria-hidden="true"></i> Thông báo số 2
          nè ae</a>
        <a class="dropdown-item cuso"><i class="fa fa-circle-o" aria-hidden="true"></i> Thông báo số
          3 nè ae</a>
        <a class="dropdown-item cuso"><i class="fa fa-circle-o" aria-hidden="true"></i> Thông báo số
          4 nè ae</a>
      </div>
    </li> -->

    <li class="nav-item d-md-down-none">
      <a class="headerIcon" routerLink="/upload"><i class="fa fa-cloud-upload fa-2x"></i></a>
    </li>

    <li class="nav-item dropdown" dropdown placement="bottom right">
      <button *ngIf="!user" class="trying mx-4" (click)="login()">
        <i class="fa fa-sign-in"></i> Đăng nhập
      </button>

      <a *ngIf="user" class="nav-link cuso" id="avatar" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">
        <img [src]="urlImage ? (urlImage | Base64) : 'assets/img/common/default-image.jpg'" class="img-avatar" />
      </a>

      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="avatar">
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <a *ngIf="user" class="dropdown-item cuso" routerLink="/profile"><i class="fa fa-info"></i>Cá nhân</a>
        <!-- <a class="dropdown-item" (click)="login()" *ngIf="!user"><i class="fa fa-sign-in"></i>Đăng nhập</a> -->
        <a *ngIf="user" class="dropdown-item cuso" (click)="logout()" ><i class="fa fa-sign-out"></i>Đăng xuất</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body" #body>
  <app-sidebar #appSidebar [ngClass]="isAdmin ? 'side-admin' : 'testzz'" [fixed]="true" [display]="'lg'"
    [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="nav" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">

    <div class="container-fluid" style="padding: 0;">
      <div class="p-2">
        <router-outlet></router-outlet>
      </div>
    </div><!-- /.container-fluid -->
    <div class="container-fluid footer" style="padding: 0; margin-bottom: 70px;" *ngIf="!isAdmin">

      <div class="col-12">
        <div class="row my-3">
          <div class="col-12">
            <div class="logo">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <h3 class="text-center des">Thông tin</h3>
            <p style="font-size: 1rem; font-family:Times New Roman;font-weight: 400;" >Awesome Music là trang web nghe nhạc được phát triển bới nhóm nhằm mang lại những giây phút thoải mái,
              thư giãn trong bất kể không gian, thời gian. <br>
              Hy vọng đem lại cho bạn khoảng thời gian vui vẻ
            </p>
            <h4 class="text-center">Enjoy!</h4>
          </div>

          <div class="col-4 text-center">
            <h3 class="des">Theo dõi</h3>

            <div class="container">
              <div class="row">
                <div class="col-6">
                  <i class="fa fa-facebook-official fa-3x mr-3" aria-hidden="true"></i>
                  <p style="height: 40px; line-height: 40px;">
                    facebook.com/awesomemusic
                  </p>
                </div>

                <div class="col-6">
                  <i class="fa fa-instagram fa-3x mr-3" aria-hidden="true"></i>
                  <p style="height: 40px; line-height: 40px;">
                    instagram.com/awesomemusic
                  </p>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <i class="fa fa-twitter fa-3x mr-3" aria-hidden="true"></i>
                  <p style="height: 40px; line-height: 40px;">
                    twitter.com/awesomemusic
                  </p>
                </div>

                <div class="col-6">
                  <i class="fa fa-tumblr-square fa-3x mr-3" aria-hidden="true"></i>
                  <p style="height: 40px; line-height: 40px;">
                    tumblr.com/awesomemusic
                  </p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-4">
            <h3 class="text-center des">Liên hệ</h3>
            <p style="font-size: 1rem; font-family:Times New Roman;font-weight: 400;">Awesome Music là trang web nghe nhạc được phát triển bới nhóm nhằm mang lại những giây phút thoải mái,
              thư giãn trong bất kể không gian, thời gian. <br>
              Hy vọng đem lại cho bạn khoảng thời gian vui vẻ
            </p>
          </div>
        </div>
      </div>

    </div>
  </main>

</div>
<div class="w-100 mt-5" *ngIf="router.url.indexOf('admin') == -1">
  <app-media></app-media>
</div>