<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="unlock-title p-t-10 p-b-10 title">
            Danh sách thể loại
            <i class="fa fa-plus poiter" (click)="openCreate()" aria-hidden="true"></i>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col" style="width: 15%;">Tên thể loại</th>
            <th scope="col">Ảnh</th>
            <th scope="col">Mô tả</th>
            <th scope="col" style="width: 10%;">Trạng thái</th>
            <th scope="col" style="width: 10%;">Hành động</th>
        </tr>
    </thead>
    <tbody *ngIf="!listGenre || listGenre.length == 0">
        <tr>
            <td class="text-center" colspan="13">Danh sách trống</td>
        </tr>
    </tbody>
    <tbody *ngIf="listGenre && listGenre.length > 0">
        <tr *ngFor="let genre of listGenre | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
            <th class="middle" scope="row">{{i + 1}}</th>
            <td class="middle" style="text-align: center;">{{genre.name}}</td>
            <td style="text-align: center;">
                <img [src]="genre.base64 | Base64" alt="" style="width: 150px;">
            </td>
            <td class="middle">{{genre.description}}</td>
            <td class="middle">{{genre.status == 1 ? 'Hoạt động' : 'Không hoạt động'}}</td>
            <td class="middle">
                <i class="fa fa-pencil poiter mr-2" aria-hidden="true" (click)="openEdit(genre.id)"></i>
                <i class="fa fa-trash poiter mr-2" aria-hidden="true" (click)="deleteGenre(genre.id)"></i>
                <i *ngIf="genre.status == 1" class="fa fa-lock poiter" (click)="lockUnlock(genre)" aria-hidden="true"></i>
                <i *ngIf="genre.status == 0" class="fa fa-unlock poiter" (click)="lockUnlock(genre)" aria-hidden="true"></i>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-right">
    <pagination-controls (pageChange)="p = $event"
    previousLabel="Lùi"
    nextLabel="Tiến"
    >
    </pagination-controls>
</div>