<div class="m-b-10 dialog-bg detail">
    <div class="admin">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="p-t-10 p-b-10 title text-center">
                Chi tiết bài hát tải lên
            </div>
        </div>

        <div class="col-12 detail-table">
            <table class="table table-hover">
                <th class=" text-center" style="width:20%">Tiêu đề</th>
                <th class="text-center" class="max" style="width:80%">Thông tin</th>

                <tr>
                    <td class="text-center">Người upload</td>
                    <td class="max">{{songUpload.userName}}</td>
                </tr>

                <tr>
                    <td class="text-center">Tên bài hát</td>
                    <td class="max">{{songUpload.songName}}</td>
                </tr>

                <tr>
                    <td class="text-center">Ngày upload</td>
                    <td class="max">{{songUpload.dateOfUpload | date: 'dd/MM/yyyy : HH:mm:ss'}}</td>
                </tr>

                <tr>
                    <td class="text-center">Ảnh</td>
                    <td class="max">
                        <img [src]="songUpload.base64Avatar  | Base64" alt="" style="max-width: 70px; max-height: 70px;">
                    </td>
                </tr>

                <tr>
                    <td class="text-center">Bài hát</td>
                    <td class="max">
                        <audio class="w-100" controls [src]="songUpload.base64Track | Base64 : 'data:audio/mp3;base64,'"></audio>
                    </td>
                </tr>

                <tr>
                    <td class="text-center">Thể loại</td>
                    <td class="max">{{songUpload.songGenreName}}</td>
                </tr>

                <tr>
                    <td class="text-center">Quốc gia</td>
                    <td class="max">{{songUpload.songCountryName}}</td>
                </tr>

                <tr>
                    <td class="text-center">Mô tả</td>
                    <td class="max" style="width:80%" >
                        <span  tooltip="{{songUpload.songDescription}}">
                            {{songUpload.songDescription}}
                        </span>
                    </td>
                </tr>

                <tr>
                    <td class="text-center">Ca sĩ</td>
                    <td class="max">{{songUpload.artistName}}</td>
                </tr>

                <tr>
                    <td class="text-center">Giới tính</td>
                    <td class="max">{{songUpload.artistGender == '1' ? 'Nam' : 'Nữ'}}</td>
                </tr>

                <tr>
                    <td class="text-center">Khu vực</td>
                    <td class="max">{{songUpload.songCountryName}}</td>
                </tr>

            </table>
        </div>

    </div>
</div>