input {
    color: #fff !important;
}

.img-upload {
    width: 100%;
    max-height: 400px;
}

.error {
    color: #f44336;
    font-size: 75%;
}

.des {
    color: #fff;
}

::ng-deep .mat-select-value {
    color: #fff !important;
}
.detail {
    table,
    td,
    th {
        border: 1px solid #fff;
    }

    td {
        padding: 10px;
    }

    .detail-table {
        table {
            table-layout: fixed;
            min-width: 700px;
            width: 100%;
            th,
            td {
                padding: 0.4rem !important;
            }

            td {
                white-space: normal;
            }

            th,td {
                vertical-align: middle;
              }

            tr {
                td {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    div {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                th {
                    vertical-align: middle;
                    border-top: none !important;
                }

                th,
                td {
                    &:nth-child(1) {
                        width: 40px;
                    }

                    &:nth-child(4) {
                        width: 300px;
                    }
                }

                span {
                        word-break: break-all !important;
                }
            }
        }
    }
}
