// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "~ngx-toastr/toastr";

.box-music {
  padding: 15px;
  background: none;
  color: white;
}

.nav-link.active {
  background: #395265 !important;
}
.app::-webkit-scrollbar {
  width: 4px;
  background-color: #161a57;
}
.app::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}
.app::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #220755;
}
.mat-dialog-container {
  padding: 0 !important;
}

.admin {
  margin: 20px;
}

.label {
  color: #9dbfaf;
  font-size: 13px;
  font-weight: bold;
  margin: 10px 0;
}

.title {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0;
}

.search-label {
  line-height: 32px;
  padding-right: 5px;
  color: #d9d9d9;
}

.p-0 {
  padding: 0 !important;
}

th {
  color: #9dbfaf;
}

tr {
  color: #9dbfaf;
}

.dialog-bg {
  background: #191e38;
}

.myapp-background-dialog .mat-dialog-container {
  background: #191e38;
}

.imange-show {
  position: relative;
  padding: 0;
  width: 100%;
  display: block;
  cursor: pointer;
  overflow: hidden;
}

.content {
  opacity: 0;
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 0;
  color: #191e38;
  background-color: rgba(200, 200, 200, 0.5);
  width: 100%;
  height: 200px;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
}

.imange-show .content:hover {
  opacity: 1;
}

.imange-show .content .text {
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
}

.imange-show .content:hover .text {
  opacity: 1;
  transform: translateY(60px);
  -webkit-transform: translateY(60px);
}
