.album {
  padding: 1em;
  color: white;
  .image-slide {
    width: 100%;
  }
  .carousel-indicators {
    z-index: -1 !important;
  }
  .right {
    right: -7.5% !important;
  }
  .left {
    left: -7.5% !important;
  }
  .slide-item {
    width: 20%;
    float: left;
  }
  .image-slide-item {
    height: 35vh;
  }
  .title:hover{
    color: #20a7c4;
  }
  .pagtination{
    .show-for-sr{
      color: white !important;
    }
    span{
      color: white !important;
    }
    .pagination-next{
      a{
        color: white;
      }
      a:hover {
        color: #20a7c4;
        background: none;
      }
    }
    .pagination-previous {
      a{
        color: white;
      }
      a:hover {
        color: #20a7c4;
        background: none;
      }
    }
  }
}
