<div class="album">
    <div class="carousel-inner w-100">
        <div class="slide-item" *ngFor="let list of lists | paginate: { itemsPerPage: 15, currentPage: p, id: 'content' }; let index=index">
            <div class="m-0 p-3 image-slide-item" (click)="listen(list.id)">
                <app-image-v [base64]="list.base64"></app-image-v>
            </div>
            <h6 class="text-center title cuso" (click)="select(list.id)">{{list.name}}</h6>
        </div>
    </div>
    <div class="text-right pagtination" *ngIf="pagination">
      <pagination-controls (pageChange)="p = $event" id="content" previousLabel="Trang trước" nextLabel="Trang sau">
      </pagination-controls>
    </div>
</div>