<div class="dialog-playlist">
    <mat-form-field class="w-100">
        <mat-label style="color: white;">Tìm kiếm Playlist</mat-label>
        <input matInput autocomplete="off" (keyup)="applyFilter($event.target.value)">
    </mat-form-field>
    <div class="row m-0 mb-3" [formGroup]="form">
        <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2 pl-1">
            <span (click)="addPlaylist()" class="material-icons cuso"
                style="color: white; font-size: 2rem; transform: translate(0px, 2px);">
                add_box
            </span>
        </div>
        <div class="col-lg-10 col-xl-10 col-md-10 col-sm-10 pt-2" *ngIf="!text">
            <button mat-button class="button-addP w-100" (click)="text = true">Thêm mới playlist</button>
        </div>
        <div class="col-lg-10 col-xl-10 col-md-10 col-sm-10" *ngIf="text">
            <mat-form-field class="w-100">
                <mat-label style="color: white;">Nhập tên Playlist</mat-label>
                <input matInput formControlName='name' autocomplete="off">
                <mat-error *ngIf="hasError('name','required')">
                    Tên playlist không được để trống
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="box-playlist">
        <div class="row m-0 mb-3" *ngFor="let playlist of playlists">
            <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2 pl-2">
                <span class="material-icons cuso" (click)="addSong(playlist.id)"
                    style="color: white; font-size: 2rem; transform: translate(0px, 10px);">
                    playlist_add
                </span>
            </div>
            <div class="col-lg-10 col-xl-10 col-md-10 col-sm-10">
                <button mat-button class="button-addP w-100" (click)="addSong(playlist.id)">{{playlist.name}}</button>
            </div>
        </div>
    </div>
</div>