.dialog-playlist {
  padding: 15px;
  height: 450px;
  .mat-form-field-underline {
    background: white !important;
    .mat-form-field-ripple {
      background: white !important;
    }
  }
  .button-addP{
      color: white;
      background: none;
      border-bottom: 1px solid #20a7c4;
  }
  .box-playlist{
      max-height: 300px;
      overflow-x: auto;
  }
  input{
      color: white;
  }
}
