input {
    color: #fff !important;
}

.img-upload {
    width: 100%;
    max-height: 400px;
}

.error {
    color: #f44336;
    font-size: 75%;
}
::ng-deep .mat-select-value {
    color: #fff !important;
}