<div class="admin">
    <app-genre-search (search)="search($event)"></app-genre-search>
    <app-genre-list 
    (lockOrUnlock)="lockOrUnlock($event)"
    (delete)="delete($event)"
    [listGenre]="listGenre">
    </app-genre-list>
</div>