.artist-home {
  color: #fff !important;
  background-color: #232946;

  .title-name {
    font-size: 2rem !important;
    line-height: 1.3 !important;
    color: #fff  !important;
    font-weight: 700 !important;
  }

  .title-chart {
    padding: 20px 0 10px 0;

    p {
      margin-bottom: 5px;
      font-size: 1.3rem;
      font-weight: 400;
      color: #fff  !important;
    }
  }

  img {
    border-radius: 10px;
    border: 3px solid #232946 ;
    margin: 10px;
  }

  .album {
    background-color: #232946;
    border: 3px solid #fff ;
    border-radius: 5px;
  }

  .bt-trying {
    position: absolute;
  }

  .trying {
    border-radius: 3px;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    background-color: #d4d8f0;
    color: #393F5A;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    border: 0;
    text-decoration: none;
    width: 70%;
    height: 50px;
  }
}
