<div class="col-md-12 artist-home ">
  <div class="title my-3 title-chart">
    <h2 class="title-name">Album</h2>
    <p>Các album mới được phát hành</p>
  </div>

  <div class="chart" *ngIf="listAlbums">
    <div class="col-12">
      <div class="row mb-3">
        <div class="col-6 mb-2" style="padding: 0 8px;" *ngFor="let albums of listAlbums; let i = index">
          <div class="col-12 album">
            <div class="row chart-row song">
              <div class="col-4">
                <div class="div" style="position: absolute; height: 100%;">
                  <p class="mt-3"> Tên: {{albums.name}}</p>
                  <p>Ngày phát hành: {{albums.releaseDate | date:'dd/MM/yyyy'}}</p>
                  <p>Mô tả: {{albums.description}}</p>
                  <button style="position: relative; bottom: -40px;" (click)="navigate(albums.id)" class="trying">Xem album</button>
                </div>
              </div>
              <div class="col-8">
                <img class="img-fluid w-100" style="min-height: 200px; max-height: 300px;" [src]="albums.url">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>