.loading{
    background: black;
    height: 100vh;
    .spinner{
        width: 500px !important;
        height: 230px !important;
        margin: auto;
        margin-top: calc((100vh - 280px ) / 2);
        background: url('assets/img/ok.gif');
    }
}

