<router-outlet *ngIf="!show"></router-outlet>
<!--
<div class="w-100 loading" *ngIf="show">
  <div class="spinner"> -->
    <!-- <circle-progress [percent]="100" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
      [outerStrokeColor]="'#ffffff'" [innerStrokeColor]="'#c0c0c0'" [animation]="true" [animationDuration]="300">
    </circle-progress> -->
    <!-- <img src="assets/img/ok.gif">
  </div>
</div> -->
