<div class="limiter">
    <link rel="stylesheet" type="text/css" href="assets/login/util.css">
    <link rel="stylesheet" type="text/css" href="assets/login/main.css">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" [formGroup]="form">
                <span class="login100-form-title p-b-26">
                    Welcome
                </span>
                <span class="login100-form-title p-b-48">
                    <i class="zmdi zmdi-font"></i>
                </span>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" formControlName='username' name="email">
                    <span class="focus-input100" data-placeholder="Email"></span>
                </div>

                <div class="wrap-input100 validate-input">
                    <span class="btn-show-pass">
                        <i class="zmdi zmdi-eye"></i>
                    </span>
                    <input class="input100" type="password" formControlName='password' name="pass">
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>
                    <p class="text-center" style="color: red;">{{message}}</p>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="button" (click)="login()">
                            Đăng nhập
                        </button>
                    </div>
                </div>

                <div class="text-center p-t-115">
                    <span class="txt2">
                        Quên mật khẩu?
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>