<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="unlock-title p-t-10 p-b-10 title">
            Danh sách ca sĩ
            <i class="fa fa-plus poiter" (click)="openCreate()" aria-hidden="true"></i>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="text-center">STT</th>
            <th scope="col" style="width: 15%;">Tên Ca si</th>
            <th scope="col">Ảnh</th>
            <!-- <th scope="col">Mô tả</th> -->
            <th scope="col">Ngay sinh</th>
            <th scope="col">Gioi tinh</th>
            <th scope="col">Khu vuc</th>
            <th scope="col" style="width: 10%;">Trạng thái</th>
            <th scope="col" class="text-center" style="width: 10%;">Hành động</th>
        </tr>
    </thead>
    <tbody *ngIf="!listArtist || listArtist.length == 0">
        <tr>
            <td class="text-center" colspan="13">Danh sách trống</td>
        </tr>
    </tbody>
    <tbody *ngIf="listArtist && listArtist.length > 0; index as i">
        <tr *ngFor="let artist of listArtist | paginate: { itemsPerPage: 5, currentPage: p }; index as i">
            <th class="middle" class="text-center" scope="row">{{i + 1}}</th>
            <td class="middle">{{artist.name}}</td>
            <td>
                <img [src]="artist.base64 | Base64" alt="" style="width: 200px;">
            </td>
            <!-- <td class="middle">{{artist.description}}</td> -->
            <td class="middle">{{artist.birthday | date: 'dd/MM/yyyy'}}</td>
            <td class="middle">{{artist.gender == 0 ? 'Nu' : 'Nam'}}</td>
            <td class="middle">{{getCountryName(artist.countryId)}}</td>
            <td class="middle">{{artist.status == 1 ? 'Hoạt động' : 'Không hoạt động'}}</td>
            <td *ngIf="!showChoose" class="middle">
                <i class="fa fa-pencil poiter mr-2" aria-hidden="true" (click)="openEdit(artist.id)"></i>
                <i class="fa fa-trash poiter mr-2" aria-hidden="true" (click)="deleteArtist(artist.id)"></i>
                <i *ngIf="artist.status == 1" class="fa fa-lock poiter" (click)="lockUnlock(artist)"
                    aria-hidden="true"></i>
                <i *ngIf="artist.status == 0" class="fa fa-unlock poiter" (click)="lockUnlock(artist)"
                    aria-hidden="true"></i>
            </td>

            <td *ngIf="showChoose" class="middle text-center">
                <mat-checkbox [checked]="checkSelect(artist.id)" (change)="choose(artist, $event)"></mat-checkbox>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-right">
    <pagination-controls (pageChange)="p = $event" previousLabel="Lùi" nextLabel="Tiến">

    </pagination-controls>
</div>