<div class="col-12 chart-home">

    <div class="title mt-3 title-chart">
        <h2 class="title-name">Bảng xếp hạng</h2>
    </div>

    <div class="country text-center my-3">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <span *ngFor="let coun of countrys; index as i">
                    <span (click)="showChart(coun.id)" class="cuso mr-2" [ngClass]="country == coun.id ? 'country-select' :
                  'country-no'"> {{coun.name.toUpperCase()}}
                    </span>
                    <span *ngIf=" i < countrys.length - 1" class="mr-2">|</span>
                </span>
            </div>
            <div class="col-md-3">
                <button class="p-0" (click)="viewIsMonth(false)"
                    [ngClass]="isMonth ? 'button-nomal' : 'button-select'">Tuần</button>
                <button class="p-0" (click)="viewIsMonth(true)"
                    [ngClass]="!isMonth ? 'button-nomal' : 'button-select'">Tháng</button>
            </div>
        </div>
    </div>

    <div class="country text-right my-3" style="padding: 20px 0;">
        <span class="all cuso mb-0 pr-3"><i class="fa fa-play-circle" aria-hidden="true" (click)="listenAll()">
                Nghe tất cả</i></span>
    </div>

    <div class="chart">
        <div class="col-12 p-0">
            <div class="row mb-3">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4"
                    *ngFor="let song of songs | paginate: { itemsPerPage: 21, currentPage: p, id: 'chart' }; let i = index">
                    <div class="col-12 wrapper mb-3">
                        <div class="row chart-row song track">
                            <div class="poisition col-md-1 pl-0 align-middle text-center ">
                                <div class="wrap-number">
                                    <span class="number-position">{{( p - 1) * 21 + i +1}}</span>
                                </div>
                            </div>

                            <div class="poisition col-md-3 p0 align-middle text-center">
                                <div class="cuso" (click)="selectTrack(song)">
                                    <app-image [base64]="song.base64"></app-image>
                                </div>
                            </div>

                            <div class="content-chart col-md-7">
                                <p class="track-name cuso" (click)="selectTrack(song)">{{song.name}}</p>
                                <div class="row">
                                    <div class="col-md-8">
                                        <span>{{song.singer}}</span>
                                    </div>
                                    <div class="col-md-4 text-right view">
                                        <span>{{song.view}} <i class="fa fa-eye" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 col-xl-1 col-lg-1 col-sm-1">
                                <div class="dropdown">
                                    <i class="material-icons cuso" id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="false">
                                        more_horiz
                                    </i>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item cuso" (mouseenter)="hovers(1)" (mouseleave)="hoverOut()"
                                            (click)="openPlaylist(song.id)"
                                            [style.color]="hover == 1 ? 'rgb(61, 164, 248)': ''"><i
                                                class="fa fa-list black " [ngClass]="hover == 1 ? 'rotate360': ''"></i>
                                            {{'media.add-playlist' | translate}}
                                        </a>
                                        <a class="dropdown-item cuso" (mouseenter)="hovers(4)" (mouseleave)="hoverOut()"
                                            [style.color]="hover == 4 ? 'rgb(61, 164, 248)': ''"
                                            (click)="addTrackToQuence(song)"><i class="fa fa-plus"
                                                [ngClass]="hover == 4 ? 'rotate360': ''"></i>
                                            {{'media.add-play' | translate}}
                                        </a>
                                        <a class="dropdown-item cuso" (mouseenter)="hovers(2)" (mouseleave)="hoverOut()"
                                            (click)="download(song)"
                                            [style.color]="hover == 2 ? 'rgb(61, 164, 248)': ''"><i
                                                class="fa fa-cloud-download black"
                                                [ngClass]="hover == 2 ? 'rotate360': ''" aria-hidden="true"></i>
                                            {{'media.download' | translate}}
                                        </a>
                                        <!-- <a class="dropdown-item cuso" (mouseenter)="hovers(3)" (mouseleave)="hoverOut()"
                                            [style.color]="hover == 3 ? 'rgb(61, 164, 248)': ''"><i
                                                class="fa fa-share-alt black" [ngClass]="hover == 3 ? 'rotate360': ''"
                                                aria-hidden="true"></i>
                                            {{'media.share' | translate}}
                                        </a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right pagtination" *ngIf="songs && songs.length > 21">
        <pagination-controls (pageChange)="p = $event" id="chart" previousLabel="Trang trước" nextLabel="Trang sau">
        </pagination-controls>
    </div>
</div>