.chart-home {
  color: #fff;
//   background-color: #232946;
  .title-chart {
    padding: 20px 0 10px 0;

    p {
      margin-bottom: 5px;
      color: #fff;
      font-size: 1.3rem;
      font-weight: 400;
    }
  }

  .chart {
    .track {
      // background: #fff;
      border-radius: 5px;
    }

    img {
      border: 3px solid #fff;
      border-radius: 5px;
    }
  }

  .title-name {
    color: #fff !important;
    font-size: 2rem !important;
    line-height: 1.3 !important;
    font-weight: 700 !important;
  }

  .content {
    width: 20%;
  }

  .p0 {
    padding: 0 !important;
  }

  .song {
    // border: 0.5px solid #fff;
    // border-radius: 10px;
    box-shadow: 0px 1px 0 #20a7c4;
  }

  .wrapper {
    &:hover {
      background: rgba(68, 68, 87, 0.43);
      box-shadow: 0 0 25px #635689;
    }
  }

  .wrap-number {
    position: absolute;
  }

  .chart-row {
    padding: 10px;
  }

  .number-position {
    position: relative;
    top: 10px;
    // border: 1px solid #ffffff;
    padding: 5px 0;
    box-sizing: content-box;
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 2rem;
  }

  @keyframes rotate360 {
    100% {
      transform: rotate(360deg);
    }
  }

  .rotate360 {
    -webkit-animation: rotate360 0.3s linear;
    -moz-animation: rotate360 0.3s linear;
    -ms-animation: rotate360 0.3s linear;
    -o-animation: rotate360 0.3s linear;
    animation: rotate360 0.3s linear;
    color: rgb(61, 164, 248);
  }

  .country-select {
    font-weight: bold;
    color: white;
  }

  .track-name:hover {
    color: #20a7c4;
  }

  .country-no {
    color: #20a7c4;
  }

  .country-no:hover {
    color: white;
  }
  .all:hover {
    color: #20a7c4;
  }
  .pagtination{
    .show-for-sr{
      color: white !important;
    }
    span{
      color: white !important;
    }
    .pagination-next{
      a{
        color: white;
      }
      a:hover {
        color: #20a7c4;
        background: none;
      }
    }
    .pagination-previous {
      a{
        color: white;
      }
      a:hover {
        color: #20a7c4;
        background: none;
      }
    }
  }
  .button-nomal{
    color: white;
    background: none;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .button-select{
    background: white;
    padding-left: 5px !important;
    padding-right: 5px !important;
    color: #31bcda;
    font-weight: bold;
  }
}
