.profile {
    .backgroud {
        background: linear-gradient(-135deg, #6b6ca7, #050b2b) !important;
        height: 300px;

        .logo {
            width: 200px;
            margin: auto;
            height: 100px;
            background-image: url("assets/logo3.png");
            background-position: center;
        }

        .avatar {
            border: 1px solid #fff;
            width: 150px;
            height: 150px;
            margin-left: 100px;
            border-radius: 50%;
        }

        .change-text {
            font-size: 15px;
        }

        .name {
            vertical-align: middle;
            line-height: 150px;
            font-size: 3rem;
            font-weight: bold;
            color: #fff;
        }
    }
}

::ng-deep .mat-tab-label,
.mat-tab-link {
    color: #fff !important;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #fff !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #fff !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #fff !important;
}

::ng-deep .mat-form-field-label {
    color: #fff !important;
}

::ng-deep .mat-select-value {
    color: #fff !important;
}

::ng-deep .mat-datepicker-toggle-default-icon {
    color: #fff !important;
}

::ng-deep .mat-radio-label-content {
    color: #fff !important;
}


