<div class="admin profile" *ngIf="userProfile && userLogged">
    <div class="search-group mb-10 backgroud">
        <div class="row">
            <div class="col-12">
                <div class="logo">
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-4">
                            <div class="imange-show avatar">

                                <input style="display: none" id="uploadImage" class="input-upload" type="file"
                                    name="file" (change)="selectFile($event)" size="6MB" #fileInput>
                                <!-- <div *ngIf="!uploadEmpty" class="error">
                            {{messageErrorFile}}
                        </div> -->
                                <img class="img-fluid w-100" [src]="imgPath ? imgPath : userProfile.url">
                                <div class="content" (click)="fileInput.click()">
                                    <div class="text change-text">Thay đổi</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-8 name">
                            <div>
                                {{displayName}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="search-group mt-10">
        <div class="col-12">
            <div class="row">
                <mat-tab-group mat-align-tabs="center" class="w-100">
                    <mat-tab label="Thông tin cá nhân">
                        <app-profile-account [userProfile]="userProfile" (saveInfo)="saveInfo($event)">
                        </app-profile-account>
                    </mat-tab>
                    <mat-tab label="Play list">
                        <app-profile-playlist [listPlaylist]="listPlaylist" (delete)=delete($event)>
                        </app-profile-playlist>
                    </mat-tab>
                    <mat-tab label="Lịch sử tải lên">
                        <app-profile-upload [listSong]="listSong" (revokeUpload)="revoke($event)"></app-profile-upload>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>