::ng-deep .mat-form-field-underline .mat-form-field-ripple {
    background-color: #9dbfaf !important;
}

::ng-deep .mat-form-field-underline {
    background-color: #9dbfaf !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #9dbfaf !important;
    font-size: 13px;
}

input {
    color: #fff !important;
}
