.genre-artist {
  .image-slide {
    width: 100%;
    height: 35vh;

    background-size: cover;
    // background-position: center !important;
    border-radius: 10%;
  }
  .box-image {
    height: 35vh;
    padding-left: 10%;
    padding-right: 10%;
  }
  .box-list {
    padding-left: 10%;
    padding-right: 10%;
  }
}
