<div class="media-box" clickOutside (clickOutside)="closePlayList()">

    <!-- Play list -->

    <div class="box-playlist">
        <div style="z-index: 999998;" class="playlist" #form [style.height]="!openPlaylist ? '80vh' : '0'">
            <i class="material-icons down cuso" (click)="closePlayList()">
                keyboard_arrow_down
            </i>
            <mat-form-field>
                <input matInput autocomplete="off" (keyup)="applyFilter($event.target.value)"
                    placeholder="{{'media.filter' | translate}}">
            </mat-form-field>
            <div class="row">
                <div class="col-xl-7 col-md-7 col-sm-7">
                    <p class="mat-header-cell">{{'media.list' | translate}} ({{msaapPlaylist.length}})</p>
                    <div class="example-container mat-elevation-z8">
                        <table class="table table-borderless">
                            <tbody>
                                <tr class="example-element-row mat-cell"
                                    [ngClass]="indexSong == track.index ? 'select' : '' "
                                    *ngFor="let track of playlistTrack">
                                    <td (click)="selectATrack(track.index + 1)">
                                        <img [src]="track.img | Base64" class="img-track cuso">
                                        <!-- <div class="div" [ngClass]="indexSong == track.index ? 'visual' : '' "></div> -->
                                    </td>
                                    <td (click)="selectATrack(track.index + 1)">
                                        <div class="row music-detail cuso">
                                            {{track.title}}
                                        </div>
                                        <div class="row ms-s">
                                            {{track.singer}}
                                        </div>
                                    </td>
                                    <td><i class="fa fa-heart-o cuso" aria-hidden="true" style="color: white;"></i></td>
                                    <td>

                                        <div class="dropdown">
                                            <i class="material-icons cuso" id="dropdownMenuButton"
                                                data-toggle="dropdown" aria-haspopup="false">
                                                more_horiz
                                            </i>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item cuso" (mouseenter)="hovers(1)"
                                                    (mouseleave)="hoverOut()" (click)="addPlaylist(track)"
                                                    [style.color]="hover == 1 ? 'rgb(61, 164, 248)': ''"><i
                                                        class="fa fa-list black "
                                                        [ngClass]="hover == 1 ? 'rotate360': ''"></i>
                                                    {{'media.add-playlist' | translate}}
                                                </a>
                                                <a class="dropdown-item cuso" (mouseenter)="hovers(2)"
                                                    (mouseleave)="hoverOut()" (click)="download(track)"
                                                    [style.color]="hover == 2 ? 'rgb(61, 164, 248)': ''"><i
                                                        class="fa fa-cloud-download black"
                                                        [ngClass]="hover == 2 ? 'rotate360': ''" aria-hidden="true"></i>
                                                    {{'media.download' | translate}}
                                                </a>
                                                <!-- <a class="dropdown-item cuso" (mouseenter)="hovers(3)"
                                                    (mouseleave)="hoverOut()"
                                                    [style.color]="hover == 3 ? 'rgb(61, 164, 248)': ''"><i
                                                        class="fa fa-share-alt black"
                                                        [ngClass]="hover == 3 ? 'rotate360': ''" aria-hidden="true"></i>
                                                    {{'media.share' | translate}}
                                                </a> -->
                                                <!-- <a class="dropdown-item cuso" (mouseenter)="hovers(4)"
                                                    (mouseleave)="hoverOut()"
                                                    [style.color]="hover == 4 ? 'rgb(61, 164, 248)': ''"><i
                                                        class="fa fa-ban black"
                                                        [ngClass]="hover == 4 ? 'rotate360': ''">

                                                    </i> {{'media.block' | translate}}
                                                </a> -->
                                                <a class="dropdown-item cuso" (mouseenter)="hovers(5)"
                                                    (click)="delete(track)" (mouseleave)="hoverOut()"
                                                    [style.color]="hover == 5 ? 'rgb(61, 164, 248)': ''"><i
                                                        class="fa fa-trash-o black "
                                                        [ngClass]="hover == 5 ? 'rotate360': ''">

                                                    </i>
                                                    {{'media.delete' | translate}}
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xl-5 col-md-5 col-sm-5">
                    <canvas class="visual w3-container w3-animate-zoom" #renderer></canvas>
                    <div *ngIf="!isPlaying" class="img-play w3-animate-zoom text-center">
                        <img style="max-width: 100%; max-height: 100%; margin: auto;"
                            class="img-responsive img-portfolio img-hover" [ngClass]="isPlaying?'rotate360': ''"
                            [src]="currentTrack.img | Base64">
                    </div>
                    <div class="row">
                        <div class="col-xl-1 col-md-1 col-sm-1"></div>
                        <div class="col-xl-10 col-md-10 col-sm-10 text-center title mt-2">
                            <marquee class="title-name" behavior="scroll" direction="left">
                                <p><strong>{{displayTitle}}</strong> - {{currentTrack.singer}}</p>
                            </marquee>
                        </div>
                    </div>
                    <div class="lyric text-center">
                        <textarea matInput rows="11" tabindex="" readonly class="lyric text-center" class="col-12 p-0 des" [(ngModel)]='lyric'>
                            </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Media -->

    <mat-card class="d-flex justify-content-center ngx-advanced-audio-player custommedia"
        style="background: url('assets/img/img.jpg');margin: 0px; z-index: 999999 !important;"> <audio [src]="url"
            #audioPlayer></audio>
        <label class="ml-3 p-1 btn " (click)='previousSong();'>
            <p class="mt50 prehv"></p>
        </label>
        <label class="p-1 btn" (click)='playBtnHandler();'>
            <p class="mt27 play" *ngIf="!isPlaying"></p>
            <p class="mt27 pause" *ngIf="isPlaying"></p>
            <!-- <img class="mt50" *ngIf="loaderDisplay" title="loading..." src="assets/img/media/play.png"> -->
        </label>
        <label class="p-1 btn" (click)='nextSong();'>
            <p class="mt50 next" src="assets/img/media/next.png"></p>
        </label>
        <div class="col">
            <div class="d-flex flex-fill justify-content-center mtslid">
                <div class="d-none d-sm-block py-3 px-1" style="color: white; margin-top: 2px;font-size: 12px"> <span
                        *ngIf="duration !== 0.01">
                        {{currentTime| TimeTransform}} </span> </div>
                <mat-slider class="d-none d-sm-block flex-fill p-1 mslid" style="width: 100%" min="0" max="{{duration}}"
                    value="{{currentTime}}" (change)="currTimePosChanged($event)"></mat-slider>
                <div class="py-3 px-1" style="color: white;margin-top: 2px;font-size: 12px; text-align: right"> <span
                        *ngIf="duration !== 0.01">
                        -{{duration-currentTime| TimeTransform}} </span> </div>
            </div>
        </div>
        <label class="ml-3 mr-3">
            <img class="mt75" (mouseenter)="mouseLoop()" (mouseleave)="mouseLoopOut()" (click)='clickLoop()'
                [src]='img'>
        </label>
        <label class="mr-3">
            <img class="mt75" (mouseenter)="mouseMix()" (mouseleave)="mouseMixOut()" (click)='clickMix()'
                [src]='imgMix'>
        </label>
        <label class="mr-3"><img class="mt75" (click)="openPlayList()" src="assets/img/media/playlist.png"></label>
        <div class="p-1 mtloa">
            <img class="iconVL" (click)='toggleVolume()' [src]="srcVL" aria-hidden="true">
        </div>
        <mat-slider class="mt07 mr-2" min="0" max="1" [value]="volume" step="0.01" (valueChange)="setVolume($event)">
        </mat-slider>
    </mat-card>

    <!-- Ảnh -->

    <div style="z-index: 999999;" class="media parent" [style.width]="clickWidth ? '55vw' : '21vw'">
        <div class="row w-100">
            <div class="img-rotate">
                <img height="60" width="60" style="border-radius: 50%;" class="img-responsive img-portfolio img-hover"
                    [ngClass]="isPlaying?'rotate360': ''" [src]="currentTrack.img | Base64">
            </div>
            <div class="title">
                <div class="row ml-2 h-50">
                    <marquee class="title-name" *ngIf="displayTitle.length >= 20" behavior="scroll" direction="left">
                        {{displayTitle}}</marquee>
                    <p class="title-name" *ngIf="displayTitle.length < 20">{{displayTitle}}</p>
                </div>
                <div class="row ml-2 singer">{{currentTrack.singer}}</div>
            </div>
            <div *ngIf="clickWidth" class="action">
                <!-- <label class="mr-2 action-item"><i class="fa fa-heart-o" aria-hidden="true" style="color: white;"></i>
                    {{'media.add-favourite' | translate}} |</label> -->
                <label class="mr-2 action-item"><i class="material-icons" style="color: white;">playlist_add</i>
                    {{'media.add-playlist' | translate}} |</label>
                <label class="mr-2 action-item" (click)="download(currentTrack)"><i class="fa fa-cloud-download"
                        style="color: white;" aria-hidden="true"></i> {{'media.download' | translate}} |</label>
                <!-- <label class="mr-1 action-item"><i class="fa fa-share-alt" style="color: white;" aria-hidden="true"></i>
                    {{'media.share' | translate}}</label> -->
            </div>
            <div class="open text-right" [ngClass]="!clickWidth ?'w3-container': ''">
                <img class="p-0" (click)="openMedia()" [ngClass]="!clickWidth ?'w3-center w3-animate-right': ''"
                    [style.transform]="!clickWidth ?'rotate(180deg)': ''" src="assets/img/media/left.png">
            </div>
        </div>
    </div>
</div>