.media-box {
  .lyric{
    display: block;
    
  }
  z-index: 999999999999999;
  margin-left: 4vw;
  .iconVL {
    margin-top: 30%;
    cursor: pointer;
  }
  .btn:focus {
    border: none !important;
  }
  .cdk-mouse-focused {
    border: none !important;
  }
  .mt50 {
    margin-top: 50%;
  }
  @-webkit-keyframes rotate360 {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @-moz-keyframes rotate360 {
    100% {
      -moz-transform: rotate(360deg);
    }
  }

  @-ms-keyframes rotate360 {
    100% {
      -ms-transform: rotate(360deg);
    }
  }

  @-o-keyframes rotate360 {
    100% {
      -o-transform: rotate(360deg);
    }
  }

  @keyframes rotate360 {
    100% {
      transform: rotate(360deg);
    }
  }
  .rotate360 {
    -webkit-animation: rotate360 5s linear infinite;
    -moz-animation: rotate360 5s linear infinite;
    -ms-animation: rotate360 5s linear infinite;
    -o-animation: rotate360 5s linear infinite;
    animation: rotate360 5s linear infinite;
  }

  .prehv:hover {
    background: url("assets/img/media/preh.png");
  }

  .prehv {
    width: 35px;
    height: 35px;
    cursor: pointer;
    background: url("assets/img/media/pre.png");
  }

  .next:hover {
    background: url("assets/img/media/preh.png");
    transform: rotate(180deg);
  }

  .next {
    width: 35px;
    height: 35px;
    cursor: pointer;
    background: url("assets/img/media/pre.png");
    transform: rotate(180deg);
  }

  .play:hover {
    background: url("assets/img/media/playh.png");
  }

  .play {
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin: auto;
    background: url("assets/img/media/play.png");
  }

  .pause:hover {
    background: url("assets/img/media/pauseh.png");
  }

  .pause {
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin: auto;
    background: url("assets/img/media/pause.png");
  }

  .mt27 {
    margin-top: 27%;
  }

  .mat-slider-thumb {
    background: #20a8d8 !important;
    box-shadow: 0 0 15px white;
  }

  .mat-slider-horizontal .mat-slider-track-fill {
    background: #20a8d8 !important;
  }

  //   .parent {
  //     position: relative;
  //   }
  .box-playlist {
    .black {
      color: black;
    }

    .playlist {
      position: fixed;
      left: 15vw;
      bottom: 4.5rem;
      width: 70vw;
      background: #161c35;
      transition: height 1s;
      -webkit-transition: height 1s;
      padding-left: 15px;
      padding-right: 15px;

      .title {
        color: white;
        font-size: bold;
        font-size: 17px;
      }

      .down {
        color: white;
        float: right;
        font-size: 30px;
        transform: translate(0, 5px);
      }

      .rotate360 {
        -webkit-animation: rotate360 0.3s linear;
        -moz-animation: rotate360 0.3s linear;
        -ms-animation: rotate360 0.3s linear;
        -o-animation: rotate360 0.3s linear;
        animation: rotate360 0.3s linear;
        color: rgb(61, 164, 248);
      }

      .tranf-p {
        transform: translate(0, 6px);
      }

      .music-detail {
        font-size: 16px;
      }

      .ms-s {
        color: rgb(197, 193, 193) !important;
        font-size: 14px;
      }

      .img-play {
        width: 70%;
        margin-left: 15%;
        height: calc(80vh / 3 - 14px);
        background-repeat: no-repeat;
        background-size: cover !important;
        background-position: center !important;
        // box-shadow: 0px 0px 25px 10px #161c35 inset;
      }
      .lyric {
        height: calc(80vh / 2 - 35px);
        width: 100%;
        color: white;
        overflow: auto;
        background: #161c35;
        box-shadow: 0px 0px 25px 0px #161c35 inset;
      }
      .lyric::-webkit-scrollbar {
        width: 2px;
        background-color: #161a57;
      }
      .lyric::-webkit-scrollbar-thumb {
        background-color: #ffffff;
      }
      .lyric::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #220755;
      }

      .mat-form-field-label-wrapper {
        border-bottom: 1px solid white;
      }
      .mat-elevation-z8 {
        background: rgba(68, 68, 87, 0.43);
        box-shadow: 0 0 25px #635689;

        .img-track {
          width: 50px;
          height: 50px;
        }
        .visual {
          background: url("assets/img/media/visual.gif");
          background-size: cover;
        }
      }

      .mat-form-field-appearance-legacy .mat-form-field-label {
        color: white !important;
      }

      input.mat-input-element {
        color: white !important;
      }

      .mat-header-cell {
        color: white;
        font-size: 17px;
        font-weight: bold;
      }
      table {
        width: 100%;
        tr.example-element-row:not(.example-expanded-row):hover {
          background: #4b9cc2;
        }
        .mat-cell {
          color: white;
          border: none;
        }
        .select {
          color: white;
          background: #3a415f;
          // font-weight: bold;
          // font-style: italic;
        }
        background: none !important;
      }

      .mat-form-field {
        font-size: 14px;
        width: 100%;
      }
      .example-container {
        overflow: auto;
        height: calc(80vh - 125px);
      }
      .example-container::-webkit-scrollbar {
        width: 4px;
        background-color: #161a57;
      }
      .example-container::-webkit-scrollbar-thumb {
        background-color: #ffffff;
      }
      .example-container::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #220755;
      }
    }
  }

  .media {
    transition: margin-left 0.5s ease 0s, margin-right 0.5s ease 0s, width 0.5s ease 0s, flex 0.5s ease 0s,
      -webkit-box-flex 0.5s ease 0s;
    .w-100 {
      margin: 0 !important;
    }
    .h-50 {
      height: 40% !important;
      margin-top: 10px;
    }
    .title {
      width: 12.7vw;
    }

    .img-rotate {
      width: 85px;
      padding-left: 10px;
    }

    .action-item {
      .material-icons {
        transform: translate(0, 6px);
      }
      margin-top: 22px;
      font-size: 15px;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }

    .action {
      width: 34vw;
    }
    .title-name {
      font-size: 15px;
      color: white;
      font-weight: bold;
    }
    .singer {
      color: white;
    }
    .child {
      //   position: absolute;
      height: 65px;
      margin-top: 5px;
      margin-left: 10px;
    }
    .open {
      float: right;
      padding: 0 !important;
    }
    .p-0 {
      margin-top: 27px;
    }

    img {
      // height: 80%;
      margin-top: 10%;
      border-radius: 50%;
    }
    z-index: 9999;
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 15px rgb(202, 201, 201);
    background-image: -webkit-linear-gradient(
      180deg,
      rgb(22, 26, 46) 0%,
      rgb(237, 63, 179) 0%,
      rgb(59, 200, 231) 0%,
      rgb(32, 167, 196) 100%
    );
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 75px !important;
  }
  .custommedia {
    height: 75px !important;
    padding: 0;
    position: fixed;
    left: 20vw;
    bottom: 0;
    width: 80vw;
  }
  .mat-slider-horizontal .mat-slider-track-wrapper {
    background: white !important;
  }
  .mt75 {
    margin-top: 63% !important;
    cursor: pointer;
  }
  .mtslid {
    margin-top: 15px;
  }
  .mslid {
    margin-top: 1.5px;
  }
  .mt07 {
    cursor: pointer;
    margin-top: 17px;
  }
  .mtloa {
    margin-top: 17px;
  }
  .p-0 {
    img {
      width: 35px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .media {
    max-width: 80px !important;
    .img-rotate {
      padding-left: 0 !important;
    }
  }
  .custommedia {
    left: 75px !important;
    width: calc(100vw - 75px) !important;
  }
}
@media screen and (max-width: 801px) {
  .media {
    width: 0 !important;
    .img-rotate {
      width: 0 !important;
      img {
        width: 0 !important;
      }
    }
  }
  .box-playlist {
    .playlist {
      width: 95vw !important;
      left: 2.5vw !important;
    }
  }
  .custommedia {
    left: 0 !important;
    width: 100vw !important;
  }
  .mt07 {
    min-width: 100px !important;
  }
}
