<div class="limiter">
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/main.css"> -->
    <div class="container-login100" [ngClass]="regis == true ? 'hidden' : ''">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img class="w-100" src="assets/logo3.png" alt="IMG">
            </div>

            <form class="login100-form validate-form" [formGroup]="form" (ngSubmit)="login()">
                <span class="login100-form-title">
                    Awesome Music
                </span>

                <mat-form-field class="w-100">
                    <mat-label class="white">{{'user.user' | translate}}</mat-label>
                    <input matInput class="white" autocomplete="off" type="text" formControlName="username">
                    <mat-icon class="white" matSuffix>supervised_user_circle</mat-icon>
                </mat-form-field>
                <!-- <input class="input100" type="text" name="email" placeholder="Email"> -->
                <!-- <input class="input100" type="password" name="pass" placeholder="Password">  -->
                <mat-form-field class="w-100">
                    <mat-label class="white">{{'user.password' | translate}}</mat-label>
                    <input matInput class="white" autocomplete="off" type="password" formControlName="password">
                    <mat-icon class="white" matSuffix>security</mat-icon>
                    
                    <mat-hint *ngIf="message" style="color: red;">
                        {{message}}
                    </mat-hint>

                </mat-form-field>

                <div class="row mt-1">
                    <div class="col-xl-12 text-center">
                        <button type="submit" mat-raised-button color="primary">{{'user.login' | translate}}</button>
                    </div>
                </div>

                <div class="text-center mt-3">
                    <a class="txt2 cuso" (click)="reissuePass()">
                       {{'user.forgot' | translate}}
                    </a>
                </div>

                <div class="text-center mt-3">
                    <a class="txt2 create cuso" (click)="openRegister()">
                        {{'user.create' | translate}}
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>