.limiter {
  height: 100%;
  background: linear-gradient(-135deg, #6b6ca7, #050b2b) !important;
  span {
    color: white !important;
  }
  button {
    background: #35c1df !important;
  }
  .container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  .login100-pic {
    width: 316px;
  }
  .login100-form {
    width: 290px;
  }

  .login100-form-title {
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;

    width: 100%;
    display: block;
    padding-bottom: 54px;
  }

  a {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }

  .wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
  }

  .login100-pic img {
    max-width: 100%;
  }

  .wrap-login100 {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 177px 130px 33px 95px;
  }
  .wrap-login100 {
    padding-top: 47px !important;
    background: none !important;
    font-size: 1.3em !important;
  }
  .txt2 {
    color: #6bc5f0 !important;
  }
  .create {
    font-size: 18px;
    font-weight: bold;
  }
  .txt2:hover {
    color: white !important;
  }
  .login100-form-title {
    color: white !important;
  }
  .mat-form-field-underline {
    .mat-form-field-ripple {
      background: white !important;
    }
  }

  .white {
    color: white !important;
  }

  .container-login100 {
    min-height: 0 !important;
  }
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s linear;
}
