<!-- <app-carousel [title]="'abcds'" [slides]="slides"></app-carousel> -->
<app-carousel *ngFor="let country of artistByCountry" (clickDetail)="clickdetail($event)" (selectAll)="selectAll($event)" [title]="country.country.name" [slides]="country.slide" [lists]="country.artistList"></app-carousel>
<!-- <app-track></app-track> -->