<div class="search-group m-b-10">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="unlock-title p-t-10 p-b-10 title">
                Tìm kiếm Album
            </div>
        </div>
    </div>
    <form class="example-form col-md-12 col-lg-12 col-sm-12 col-xs-12 my-4" [formGroup]="searchFormGroup">
        <div class="row">
            <mat-form-field class="col-md-4 col-lg-4 col-sm-12 col-xs-12 p-0">
                <input matInput class="input-field" placeholder="Tên Album" [formControlName]="'albumName'">
            </mat-form-field>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <button mat-raised-button (click)="searchByCondition()">
                    <i class="fa fa-search"></i>
                    Tìm kiếm</button>
            </div>
        </div>
    </form>
</div>
