html,
body {
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: #20a7c4 #232946;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.cuso {
  cursor: pointer;
}
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

div {
  scrollbar-width: thin;
  scrollbar-color: #20a7c4 #232946;
}
textarea {
  scrollbar-width: thin;
  scrollbar-color: #20a7c4 #232946;
}
error {
  font-weight: 400 !important;
  line-height: 1.125 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 1em !important;
}
