<div class="home-style">

  <div class="container-fluid">
    <div class="col-12">
      <div id="carouselExampleIndicators" class="carousel slide news" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" *ngFor="let slide of listSlide; index as i"
            [class]="i == 0 ? 'active' : ''" data-slide-to="0"></li>
        </ol>
        <div class="carousel-inner">
          <div *ngFor="let slide of listSlide; index as i" [class]="i == 0 ? 'carousel-item active' : 'carousel-item '">
            <div class="col-12">
              <div class="row">
                <div class="col-6">
                  <div class="d-none d-md-block content-news" style="color: #fff;">
                    <h1>{{slide.title}}</h1>
                    <p class="des">{{slide.description}}</p>
                    <button class="trying" (click)="navigate(slide.path)">Nghe bài hát mới</button>
                  </div>
                </div>

                <div class="col-6 ">
                  <div class="stackone">
                    <img class="img-fluid w-100 " [src]="slide.url" alt="First slide">
                  </div>
                </div>
              </div>
            </div>
            <!-- </div> -->
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <app-chart-home></app-chart-home>
    <app-artist-home [artist]="artist" [listArtist]="listArtist" (showArtist)="showArtist($event)"></app-artist-home>
    <app-album-home [listAlbums]="listAlbums"></app-album-home>
    <app-genre-home [listGenre]="listGenre"></app-genre-home>
    <app-topic-home [listTopic]="listTopic" class="mb-5"></app-topic-home>
  </div>

</div>