.home-style {
  .news {
    img {
      max-height: 50vh;
      min-height: 50vh;
      width: 100%;
      z-index: 2;
      position: relative;
      border: 6px solid #fff;
    }

    .stackone {
      float: left;
      height: 50vh;
      width: 80%;
      margin: 50px;
      position: relative;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .stackone:before {
      content: "";
      background: #eff4de;
      border: 6px solid #fff;
      height: 50vh;
      width: 100%;

      position: absolute;
      z-index: 1;
      top: -20px;
      left: -20px;

      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    .stackone:after {
      content: "";
      height: 50vh;
      width: 100%;
      background: #768590;
      border: 6px solid #fff;
      position: absolute;
      z-index: 1;
      top: -10px;
      left: -10px;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    .content-news {
      padding: 1.2rem 6%;
    }

    .trying {
      margin-top: 2.5rem;
      border-radius: 3px;
      font-size: 1.1rem;
      font-weight: 700;
      cursor: pointer;
      background-color: #393F5A;
      color: #fff;
      opacity: 1;
      transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      transform-style: preserve-3d;
      display: inline-block;
      border: 0;
      line-height: inherit;
      text-decoration: none;
      width: 50%;
      height: 70px;
    }

    .des {
      color: rgb(184, 193, 236);
      opacity: 1;
      transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      transform-style: preserve-3d;
      margin-bottom: 10px;
      font-size: 1.3rem;
      font-weight: 400;
      margin-top: 0;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 2% !important;
  }

  background: #191e38;
}
