<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="unlock-title p-t-10 p-b-10 title">
            Danh sách tin tức
            <i class="fa fa-plus poiter" (click)="openCreate()" aria-hidden="true"></i>
        </div>
    </div>
</div>

<table class="table table-hover" style="text-align: center;">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col" style="width:20%">Tiêu Đề</th>
            <th scope="col">Ảnh</th>
            <th scope="col">Mô tả</th>
            <th scope="col">Path</th>
            <th scope="col" style="width:10%">Trạng thái</th>
            <th scope="col" style="width:10%">Thao Tác</th>
        </tr>
    </thead>
    <tbody *ngIf="!listSlideShow || listSlideShow.length == 0">
        <tr>
            <td class="text-center" colspan="13">Danh sách trống</td>
        </tr>
    </tbody>
    <tbody *ngIf="listSlideShow && listSlideShow.length > 0">
        <tr *ngFor="let slide of listSlideShow | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
            <th class="middle" scope="row">{{i + 1}}</th>
            <td class="middle">{{slide.title}}</td>
            <td>
                <img [src]="slide.base64 | Base64" style="width: 200px;">
            </td>
            <td class="middle">{{slide.description}}</td>
            <td class="middle">{{slide.path}}</td>
            <td class="middle">{{slide.status == 1 ? 'Hoạt động' : 'Không hoạt động'}}</td>
            <td class="middle">
                <i class="fa fa-pencil poiter mr-2" aria-hidden="true" (click)="openEdit(slide.id)"></i>
                <i class="fa fa-trash poiter mr-2" aria-hidden="true" (click)="deleteGenre(slide.id)"></i>
                <i *ngIf="slide.status == 1" class="fa fa-lock poiter" (click)="lockUnlock(slide)" aria-hidden="true"></i>
                <i *ngIf="slide.status == 0" class="fa fa-unlock poiter" (click)="lockUnlock(slide)" aria-hidden="true"></i>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-right">
    <pagination-controls (pageChange)="p = $event"
    previousLabel="Lùi"
    nextLabel="Tiến"
    >

    </pagination-controls>
</div>