<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="unlock-title p-t-10 p-b-10 title">
            Danh sách Album
            <i class="fa fa-plus poiter" (click)="openCreate()" aria-hidden="true"></i>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col" style="width:20%">Tên Album</th>
            <th scope="col">Ảnh</th>
            <th scope="col">Mô tả</th>
            <th scope="col">Ngày phát hành</th>
            <th scope="col" style="width:10%">Trạng thái</th>
            <th scope="col" style="width:10%">Hành động</th>
        </tr>
    </thead>
    <tbody *ngIf="!listAlbum || listAlbum.length == 0">
        <tr>
            <td class="text-center" colspan="13">Danh sách trống</td>
        </tr>
    </tbody>
    <tbody *ngIf="listAlbum && listAlbum.length > 0">
        <tr *ngFor="let album of listAlbum | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
            <th class="middle" scope="row">{{i + 1}}</th>
            <td class="middle">{{album.name}}</td>
            <td>
                <img [src]="album.url" alt="" style="width: 200px;">
            </td>
            <td class="middle">{{album.description}}</td>
            <td class="middle">{{album.releaseDate | date: 'dd/MM/yyyy'}}</td>
            <td class="middle">{{album.status == 1 ? 'Hoạt động' : 'Không hoạt động'}}</td>
            <td class="middle">
                <i class="fa fa-pencil poiter mr-2" aria-hidden="true" (click)="openEdit(album.id)"></i>
                <i class="fa fa-trash poiter mr-2" aria-hidden="true" (click)="deleteAlbum(album.id)"></i>
                <i *ngIf="album.status == 1" class="fa fa-lock poiter" (click)="lockUnlock(album)" aria-hidden="true"></i>
                <i *ngIf="album.status == 0" class="fa fa-unlock poiter" (click)="lockUnlock(album)" aria-hidden="true"></i>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-right">
    <pagination-controls (pageChange)="p = $event"
    previousLabel="Lùi"
    nextLabel="Tiến"
    >

    </pagination-controls>
</div>
