<div class="trans">
  <a class="dropdown-item cuso" [ngClass]="currentLanguage.key == languages[1].key ? 'selected' : ''" (click)="setLanguage(languages[1])"><span class="flag-icon flag-icon-vn"></span> Tiếng Việt</a>
  <a class="dropdown-item cuso" [ngClass]="currentLanguage.key == languages[0].key ? 'selected' : ''" (click)="setLanguage(languages[0])"><span class="flag-icon flag-icon-gb"></span> English(UK)</a>
</div>