<div class="m-b-10 dialog-bg">
    <div class="admin">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="p-t-10 p-b-10 title">
                Thêm ca sĩ
            </div>
        </div>
        <form class="example-form my-2" [formGroup]="createForm">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-4">
                <div class="row">
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label class="white">Tên Ca sĩ</mat-label>
                        <input matInput class="input-field" [formControlName]="'artistName'" maxlength="255">
                        <mat-error *ngIf="hasError('artistName','required')">
                            Tên ca sĩ không được để trống
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label class="white">Mô tả</mat-label>
                        <input matInput class="input-field" [formControlName]="'artistDes'" maxlength="255">
                        <mat-error *ngIf="hasError('artistDes','required')">
                            Mô tả ca sĩ không được để trống
                        </mat-error>
                    </mat-form-field>

                </div>
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-4">
                <div class="row">
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label>Chọn ngày phát hành</mat-label>
                        <input matInput [matDatepicker]="picker" [formControlName]="'artistBirthDay'">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="w-100">
                                    <mat-label>Khu vực</mat-label>
                                    <mat-select [formControlName]="'artistCountryId'">
                                        <mat-option *ngFor="let country of countries" [value]="country.id">
                                            {{country.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="w-100">
                                    <mat-label>Giới tính</mat-label>
                                    <mat-select [formControlName]="'artistGender'">
                                        <mat-option *ngFor="let gender of genderes" [value]="gender.value">
                                            {{gender.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-4">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <mat-form-field class="w-100">
                            <mat-label>Trạng thái</mat-label>
                            <mat-select [formControlName]="'artistStatus'">
                                <mat-option *ngFor="let status of statuses" [value]="status.value">
                                    {{status.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <mat-label class="label">Ảnh hiển thị</mat-label>
                        <input style="display: none" id="uploadImage" class="input-upload" type="file" name="file"
                            (change)="selectFile($event)" size="6MB" #fileInput>
                        <img (click)="fileInput.click()" class="img-upload" [src]="imgPath ? imgPath : artist.base64 | Base64">
                        <div *ngIf="!uploadEmpty" class="error">
                            {{messageErrorFile}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-4 text-right">
                <button type="button" mat-raised-button (click)="close()"> <i class="fa fa-times"></i> Đóng</button>
                <button type="button" mat-raised-button (click)="saveArtist()" color="primary"><i
                        class="fa fa-floppy-o"></i>
                    Thêm</button>
            </div>
        </form>
    </div>
</div>