<div class="m-b-10 dialog-bg">
    <div class="admin">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="p-t-10 p-b-10 title">
                Thêm thể loại
            </div>
        </div>
        <form class="example-form my-2" [formGroup]="createForm">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 mb-4">
                    <mat-form-field class="col-12 ">
                        <mat-label class="white">Tên thể loại</mat-label>
                        <input matInput class="input-field" [formControlName]="'genreName'" maxlength="255">
                        <mat-error *ngIf="hasError('genreName','required')">
                            Tên thể loại không được để trống
                        </mat-error>
                    </mat-form-field>

                    <div class="col-12">
                        <mat-label class="label">Ảnh hiển thị</mat-label>
                        <input style="display: none" id="uploadImage" class="input-upload" type="file" name="file"
                            (change)="selectFile($event)" size="6MB" #fileInput>
                        <img (click)="fileInput.click()" class="img-upload" *ngIf="imgPath" [src]="imgPath">
                        <img (click)="fileInput.click()" class="img-upload" *ngIf="!imgPath"
                            src="assets/img/common/default-image.jpg">
                        <div *ngIf="!uploadEmpty" class="error">
                            {{messageErrorFile}}
                        </div>
                    </div>


                </div>

                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 mb-4">
                    <mat-form-field class="col-12 ">
                        <mat-label class="white">Mô tả</mat-label>
                        <textarea matInput class="col-12 p-0 des" formControlName='genreDes'>
                        </textarea>
                        <mat-error *ngIf="hasError('genreDes','required')">
                            Mô tả thể loại không được để trống
                        </mat-error>

                        <mat-error *ngIf="hasError('genreDes','maxlength')">
                            Mô tả thể loại không quá 500 ký tự
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12 mb-4 text-right">
                    <button type="button" mat-raised-button (click)="close()"> <i class="fa fa-times"></i> Đóng</button>
                    <button type="button" mat-raised-button (click)="saveGenre()" color="primary"><i
                            class="fa fa-floppy-o"></i>
                        Thêm</button>
                </div>
            </div>
        </form>
    </div>
</div>