<div class="box w-100">
    <div class="div" style="position: absolute;">
        <div class="container">
            <img [src]="base64 | Base64" height="55" width="55" class="cuso" style="border-radius: 50%;"
                class="img-responsive img-portfolio img-hover image">
            <div class="overlay text-center">
                <i class="fa fa-play-circle" style="color: white; font-size: 3em; margin-top: 12%;" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>