.box {
  .container {
    position: relative;
  }

  .image {
    display: block;
  }
  .container:hover {
    .image {
      opacity: 0.2;
    }
  }

  .overlay {
    position: absolute;
    bottom: 100%;
    left: 17%;
    right: 0;
    background-color: none;
    border-radius: 50%;
    overflow: hidden;
    width: 55px;
    height: 0;
    transition: 0.5s ease;
    // opacity: 0.3;
  }

  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
