<div class="info p-2">
    <div class="row">
        <div class="col-xl-4 col-md-4 col-lg-4 col-sm-4 box-image">
            <img style="border-radius: 15px; max-width: 100%; max-height: 100%;"
                class="img-responsive img-portfolio img-hover" [src]="info.base64 | Base64">
        </div>
        <div class="col-xl-8-col-md-8 col-lg-8 col-sm-8 pt-3" style="color: white;">
            <div class="row">
                <div class="col-md-7">
                    <h3>{{info.name}}</h3>
                </div>
                <div class="col-md-5" *ngIf="info.birthday">
                    <h5>Ngày sinh: {{info.birthday | date : 'dd/mm/yyyy'}}</h5>
                </div>
            </div>
            <p class="mt-5">{{info.description}}</p>
        </div>
    </div>
    <p class="text-right all cuso mb-0 pr-3"><i class="fa fa-play-circle" aria-hidden="true" (click)="listenAll()">
        Nghe tất cả</i></p>
</div>