.info {
  background: #1b2039;;
  box-shadow: 10px 10px 30px #3d3458;
  -moz-box-shadow: 10px 10px 30px #3d3458;
  -webkit-box-shadow: 10px 10px 30px #3d3458;
  -o-box-shadow: 10px 10px 30px #3d3458;
  -ms-box-shadow: 10px 10px 30px #3d3458;
  margin-left: 9%;
  margin-right: 11%;
  margin-bottom: 1%;
  border-radius: 15px;
  .box-image {
    max-height: 25vh;
    padding-left: 10%;
    padding-right: 10%;
  }
  .all{
    color: white;
  }
  .all:hover {
    color: #20a7c4;
  }
}
