.messageHeader .modal-title{
    font-weight: bold;
}

.wrapper {
    height: 200px;
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes slideInUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes slideInUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.x-button {
    line-height: 1rem;
}

.x-button:hover {
    line-height: 1rem;
    background-color: darkgrey !important;
}

.x-button:focus {
    line-height: 1rem;
    background-color: darkgrey !important;
}
