<div class="wrapper">
    <div class="row modal-header">
        <div class="col-lg-10 col-md-10 col-sm-10 modal-title pl-2">
            <h5 style="font-size: 1.3em; font-weight: bold;">{{title}}</h5>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 text-right ">
            <button #confirmDialogButton class="btn btn-outline-green mr-0 mt-0" (click)="cancel($event)">
                <i class="fa fa-window-close" aria-hidden="true"></i>
                <!--            <span aria-hidden="true" (click)="cancel($event)" style="font-size: 1.2em; cursor: pointer;">×</span>-->
            </button>
        </div>
    </div>
    <div class="modal-body">
        <p class="text-center"><i *ngIf="iconClass" class="{{iconClass}}"></i> {{message}} </p>
    </div>
    <div class="line0 text-center modal-btn">
        <button type="button" #confirmDialogButton
            style="height:32px;line-height:32px;margin-right: 10px;padding: 0px 16px; width: 100px;" (click)="confirm($event)"
            class="btn btn-primary">{{buttons.confirm.label}}</button>
        <button type="button" #confirmDialogButton style="height:32px;line-height:32px;padding: 0px 16px; width: 100px;"
            class="btn btn-secondary" (click)="cancel($event)">{{buttons.cancel.label}}</button>
    </div>
</div>