<div class="admin">
    <app-topic-search (search)="search($event)"></app-topic-search>
    <app-topic-list 
    (lockOrUnlock)="lockOrUnlock($event)"
    (delete)="delete($event)"
    [listTopic]="listTopic">
    </app-topic-list>
</div>