.artist-home {
  color: #ffffff;

  .title-name {
    font-size: 2rem !important;
    line-height: 1.3 !important;
    font-weight: 700 !important;
  }

  .title-chart {
    padding: 20px 0 10px 0;

    p {
      margin-bottom: 5px;
      color: #ffffff;
      font-size: 1.3rem;
      font-weight: 400;
    }
  }

  .trying {
    margin-top: 2.5rem;
    border-radius: 3px;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    background-color: #393f5a;
    color: #fff;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    display: inline-block;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    width: 50%;
    height: 70px;
  }

  img {
    border-radius: 5px;
  }
}
