<div class="col-md-12 artist-home">
  <div class="title my-3 title-chart">
    <h2 class="title-name">Ca sĩ yêu thích</h2>
  </div>

  <div class="col-12 p-0" *ngIf="artist">
    <div class="row">
      <div class="col-8">
        <h4 class=" text-center mb-2"> Thông tin cá nhân </h4>
        <p>Tên: {{artist.name}} </p>
        <p>Giới tính: {{artist.gender == 0 ? 'Nữ' : 'Nam'}}</p>
        <p>Mô tả: {{artist.description}}</p>

        <button class="trying" (click)="navigate(artist.id)">Nghe bài hát mới</button>
      </div>

      <div class="col-4">
        <img class="img-fluid w-100" style="max-height: 400px; max-width: 100%; min-width: 70%;" [src]="artist.url">
      </div>
    </div>
  </div>

  <div class="chart" *ngIf="listArtist">
    <div class="col-12 p-0">
      <div class="row mb-3">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 my-2" *ngFor="let artist of listArtist; let i = index">
          <div class="col-12" (click)="sendArtist(artist)">
            <div class="row chart-row song">
              <div class=" p0 align-middle text-center">
                <div class="imange-show">
                  <img class="img-fluid w-100" style="max-height: 200px; max-width: 100%; min-width: 100%;"
                    [src]="artist.url" height="200">
                  <div class="content">
                    <div class="text"><i class="fa fa-play-circle-o" aria-hidden="true" style="font-size: 3rem; color: white;"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>