<div class="col-md-12 playlist-profile ">
    <div class="title my-3">
        <h3>Play list</h3>
    </div>

    <div class="chart">
        <div class="col-12 p-0">
            <div class="row mb-3">
                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 my-2">
                    <div class="col-12">
                        <i (click)="openCreate()" class="fa fa-plus icon-add" aria-hidden="true"
                            style="margin-top:15px;color: white;font-size: 10rem;"></i>
                    </div>
                </div>


                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 my-2"
                    *ngFor="let playlist of listPlaylist; let i = index">
                    <div class="col-12">
                        <button class="deleteIcon" (click)="deletePlaylist(playlist.id)"><i class="fa fa-times"
                                aria-hidden="true" style="color: red;"></i></button>
                        <div class="row chart-row song" (click)="openEdit(playlist)">
                            <div class="imange-show">
                                <img class="img-fluid w-100" style="min-height: 200px; max-height: 200px;  width: 100%;"
                                    [src]="playlist.url">
                                <div class="content">
                                    <div class="text">{{playlist.name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>