.playlist-profile {
  .deleteIcon {
    position: absolute;
    z-index: 999;
    left: 94%;
    top: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    border-color: none;
    opacity: 1;
    background: rgb(201, 197, 197);
  }
  .icon-add:hover {
    color: #20a7c4;
    font-size: 11rem;
  }
}
