.editPlaylist {
    overflow: hidden;

    .poiter {
        cursor: pointer;
    }

    .img-upload {
        width: 100%;
        max-height: 400px;
    }

    .error {
        color: #f44336;
        font-size: 75%;
    }

    .maxHeight {
        max-height: 551px;
    }

    .scrollSongs {
        overflow-y: auto;
    }
    .table-hover tbody tr:hover td,
    .table-hover tbody tr:hover th {
        background-color: #3f4560;
        color: #9dbfaf;
    }

    .sitemessage:hover {
        display: inline-block;
        white-space: nowrap;
        animation: floatText 2s infinite linear;
        padding-left: 100%; /*Initial offset*/
    }

    .sitemessage {
        animation-play-state: paused;
    }

    
    @keyframes floatText {
        to {
            transform: translateX(-100%);
        }
    }

    .middle {
        vertical-align: inherit;
    }
}

::ng-deep .mat-select-value {
    color: #fff !important;
}

input {
    color: #fff !important;
}
