<div class="m-b-10 dialog-bg editPlaylist">
    <div class="admin">
        <div class="col-12">
            <div class="row">
                <div class="col-6 maxHeight">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="p-t-10 p-b-10 title">
                            Sửa playlist
                        </div>
                    </div>
                    <form class="example-form my-2" [formGroup]="createForm">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-4">
                            <div class="row">
                                <mat-form-field class="col-12 ">
                                    <mat-label class="white">Tên playlist</mat-label>
                                    <input matInput class="input-field" [formControlName]="'name'" maxlength="255">
                                    <mat-error *ngIf="hasError('name','required')">
                                        Tên playlist không để trống
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-4">
                            <div class="row">
                                <div class="col-12">
                                    <mat-label class="label">Ảnh hiển thị</mat-label>
                                    <input style="display: none" id="uploadImage" class="input-upload" type="file"
                                        name="file" (change)="selectFile($event)" size="6MB" #fileInput>
                                    <img (click)="fileInput.click()" class="img-upload"
                                        [src]="imgPath ? imgPath : playlist.url" style="max-height: 300px; min-height: 300px;">
                                    <div *ngIf="!uploadEmpty" class="error">
                                        {{messageErrorFile}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-4 text-right">
                            <button type="button" mat-raised-button (click)="close()"> <i class="fa fa-times"></i>
                                Đóng</button>
                            <button type="button" mat-raised-button (click)="saveGenre()" color="primary"><i
                                    class="fa fa-floppy-o"></i>
                                Sửa</button>
                        </div>
                    </form>
                </div>

                <div class="col-6 maxHeight scrollSongs">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="p-t-10 p-b-10 title">
                            Danh sách nhạc
                            <div class="text-right">
                                <i class="fa fa-play poiter" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>

                    <div>
                        <table class="table table-hover scrollSongs" >
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Ảnh</th>
                                    <th scope="col">Tên bài hát</th>
                                    <th scope="col">Hành động</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!songs || songs.length == 0">
                                <tr>
                                    <td class="text-center" colspan="13">Danh sách trống</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="songs && songs.length > 0">
                                <tr *ngFor="let song of songs; index as i">
                                    <th class="middle" scope="row">{{i + 1}}</th>
                                    <td>
                                        <img [src]="song.url" alt="" style="width: 50px; max-height: 50px;  min-height: 50px;">
                                    </td>
                                    <td class="middle">
                                        <div class="sitemessage">
                                            {{song.name}}
                                        </div></td>
                                    <td class="middle">
                                        <i class="fa fa-play poiter mr-2" aria-hidden="true" (click)="selectTrack(song)"></i>
                                        <i class="fa fa-trash poiter mr-2" (click)="deleteSong(song.id)" aria-hidden="true" ></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>