<div class="admin">
    <app-artist-search (search)="search($event)"></app-artist-search>
    <app-artist-list [showChoose]="true" [listArtist]="listArtist" [singer]="singer" [countries]="countries"
        (chooseArtist)="chooseArtist($event)">
    </app-artist-list>
    <div class="row">
        <div style="width: 200px; margin: auto;">
            <button type="button" mat-raised-button (click)="close()"> <i class="fa fa-times"></i> Đóng</button>
            <button type="button" mat-raised-button (click)="save()"> <i class="fa fa-times"></i> Lưu</button>
        </div>
    </div>
</div>