<div class="search-component">
    <div class="row" [formGroup]="stateForm">
        <div class="col-md-10 col-xl-10 col-lg-10 col-sm-10">
            <mat-form-field class="w-100">
                <mat-label class="white">{{'media.placeFind' | translate}}</mat-label>
                <input type="text" matInput class="white" formControlName="stateGroup">
                <!-- <mat-autocomplete #autoGroup="matAutocomplete">
                        <mat-option *ngFor="let song of songs" [value]="value">
                            {{song.name}}
                        </mat-option>
                </mat-autocomplete> -->
            </mat-form-field>
        </div>
        <div class="col-md-2 col-xl-2 col-lg-2 col-sm-2">
            <button mat-button type="submit" class="button-addP w-100" (click)="search()">
                <span class="material-icons">
                    search
                </span>
            </button>
        </div>
    </div>
</div>