.search-component {
  .white {
      color: white;
  }
  .mat-form-field-underline{
      background: white;
    //   bottom: 2em;
  }
  .button-addP{
      color: #20a7c4;
      background: white;
      border-bottom: 1px solid #20a7c4;
  }
  .mat-form-field-underline {
    background: white !important;
    .mat-form-field-ripple {
      background: white !important;
    }
  }
}
