<div class="register">
    <div class="container-login100" [ngClass]="regis == false ? 'hidden' : ''">
        <form class="w-100" [formGroup]="form">
            <div class="row">
                <div class="logo">
                </div>
                <!-- <div class="col-xl-7 col-md-7 col-sm-7">
                    <span class="login100-form-title">Awesome Music</span> -->
                <!-- </div> -->
            </div>
            <div class="row align-items-center">
                <div class="col-xl-6 col-md-6 col-sm-12">
                    <mat-form-field class="w-100">
                        <mat-label class="white">{{'user.user' | translate}}</mat-label>
                        <input matInput class="white" autocomplete="off" name="username" formControlName="username">
                        <mat-icon class="white" matSuffix>supervised_user_circle</mat-icon>
                        <mat-error *ngIf="hasError('username','required')">
                            {{'user.empty' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12">
                    <mat-form-field class="w-100">
                        <mat-label class="white">{{'user.fullname' | translate}}</mat-label>
                        <input matInput class="white" autocomplete="off" name="fullname" formControlName="fullname">
                        <mat-icon class="white" matSuffix>supervised_user_circle</mat-icon>
                    </mat-form-field>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-xl-6 col-md-6 col-sm-12">
                    <mat-form-field class="w-100">
                        <mat-label class="white">Email</mat-label>
                        <input matInput class="white" autocomplete="off" name="email" formControlName="email">
                        <mat-icon class="white" matSuffix>supervised_user_circle</mat-icon>
                        <mat-error *ngIf="hasError('email','required')">
                            {{'user.empty' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-md-6 col-sm-12">
                    <mat-form-field class="w-100">
                        <mat-label class="white">{{'user.phone' | translate}}</mat-label>
                        <input matInput class="white" autocomplete="off" name="phone" formControlName="phone">
                        <mat-icon class="white" matSuffix>supervised_user_circle</mat-icon>
                    </mat-form-field>
                </div>
            </div>

            <div class="row align-items-center">
                <mat-label class="col-xl-2 col-md-2 col-sm-12 col-form-label pb-0 custom-label white">
                    {{'user.gender' | translate}}</mat-label>
                <div class="col-xl-4 col-md-4 col-sm-12 radio-custom">
                    <mat-radio-group class="white" name="gender" aria-label="Select an option">
                        <mat-radio-button class="radio-left" value="1">{{'user.male' | translate}}</mat-radio-button>
                        <mat-radio-button value="0">{{'user.female' | translate}}</mat-radio-button>
                    </mat-radio-group>
                    <mat-icon class="white icon-custom" matSuffix>supervised_user_circle</mat-icon>
                </div>

                <div class="col-xl-6 col-md-6 col-sm-12">
                    <mat-form-field class="w-100">
                        <mat-label class="white">{{'user.birthday' | translate}}</mat-label>
                        <input matInput class="white" autocomplete="off" formControlName="birthday"
                            [matDatepicker]="birthday" formControlName="birthday" [min]="mdtMinDate" [max]="mdtMaxDate">
                        <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
                        <mat-datepicker #birthday></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-xl-6 col-md-6 col-sm-12">
                    <mat-form-field class="w-100">
                        <mat-label class="white">{{'user.password' | translate}}</mat-label>
                        <input matInput class="white" type="password" autocomplete="off" name="password"
                            formControlName="password">
                        <mat-icon class="white" matSuffix>supervised_user_circle</mat-icon>
                        <mat-error *ngIf="hasError('password','required')">
                            {{'user.empty' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6 col-md-6 col-sm-12">
                    <mat-form-field class="w-100">
                        <mat-label class="white">{{'user.repassword' | translate}}</mat-label>
                        <input matInput class="white" type="password" autocomplete="off" name="repassword"
                            formControlName="repassword">
                        <mat-icon class="white" matSuffix>supervised_user_circle</mat-icon>
                    </mat-form-field>
                </div>
            </div>

            <div class="row bt-submit">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                    <a class="txt1" (click)="open()">
                        {{'user.haveAccount' | translate}}
                    </a>
                    <a class="txt2 cuso" (click)="open()">
                        {{'user.loginNow' | translate}}
                    </a>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 text-left">
                    <button type="submit" mat-raised-button color="primary">{{'user.register' | translate}}</button>
                </div>
            </div>

        </form>
    </div>
</div>