.register {
  background: linear-gradient(-135deg, #6b6ca7, #050b2b) !important;
  span {
    color: white !important;
  }
  button{
    background: #35c1df !important;
  }
  .txt2 {
    font-size: 18px;
    color: #6bc5f0 !important;
    font-weight: bold;
  }
  .txt1 {
    color: #6bc5f0 !important;
  }
  .txt2:hover {
    color: white !important;
  }
  .container-login100 {
    width: 100%;
    font-size: 14px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  .login100-form-title {
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;

    width: 100%;
    display: block;
    padding-bottom: 14px;
    padding-top: 10px;
  }

  .logo {
  width: 200px;
  margin: auto;
  height: 100px;
  background-image: url('assets/logo3.png');
  background-position: center;
  }

  .mat-form-field-underline {
    background: white !important;
    .mat-form-field-ripple {
      background: white !important;
    }
  }
  .radio-custom {
    padding-top: 30px !important;
  }
  .mat-radio-outer-circle {
    border-color: white;
  }

  .radio-left{
    margin-left: -10%;
    margin-right: 20%;
  }

  .icon-custom{
    float: right;
  }

  .col-md-6 {
    margin-top: 15px !important;
  }
  .col-xl-6 {
    margin-top: 15px !important;
  }
  .white {
    color: white !important;
  }
  .wrap-login100 {
    background: none !important;
    font-size: 1.3em !important;
  }
  .bt-submit {
    margin-top: 20px;
    // margin-bottom: 20px;
  }
  .custom-label{
    margin-top: 15px !important;
  }
}
.hidden {
  opacity: 0;
  transition: opacity 0.5s linear;
}
