<div class="track w-100 p-1">
  <div class="row">
    <div class="track-item col-md-4 col-lg-4 col-xl-4 col-sm-4"
      *ngFor="let track of trackList | paginate: { itemsPerPage: 21, currentPage: p, id: 'chart' }">
      <div class="row custom-tr p-2 w-100">
        <div class="col-md-3 col-xl-3 col-lg-3 col-sm-3 cuso" (click)="selectTrack(track)">
          <app-image [base64]="track.base64"></app-image>
        </div>
        <div class="col-md-7 col-xl-7 col-lg-7 col-sm-7">
          <p class="track-name cuso" (click)="selectTrack(track)">{{track.name}}</p>

          <div class="row">
            <div class="col-md-8">
              <span>{{track.singer}}</span>
            </div>
            <div class="col-md-4 text-right view">
              <span>{{track.view}} <i class="fa fa-eye" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-xl-2 col-lg-2 col-sm-2">
          <div class="dropdown">
            <i class="material-icons cuso" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="false">
              more_horiz
            </i>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item cuso" (mouseenter)="hovers(1)" (mouseleave)="hoverOut()"
                (click)="addSongToPlaylist(track.id)" [style.color]="hover == 1 ? 'rgb(61, 164, 248)': ''"><i
                  class="fa fa-list black " [ngClass]="hover == 1 ? 'rotate360': ''"></i>
                {{'media.add-playlist' | translate}}
              </a>
              <a class="dropdown-item cuso" (mouseenter)="hovers(4)" (mouseleave)="hoverOut()"
                (click)="addSongToQuence(track)" [style.color]="hover == 4 ? 'rgb(61, 164, 248)': ''"><i
                  class="fa fa-plus" [ngClass]="hover == 4 ? 'rotate360': ''"></i>
                {{'media.add-play' | translate}}
              </a>
              <a class="dropdown-item cuso" (mouseenter)="hovers(2)" (mouseleave)="hoverOut()" (click)="download(track)"
                [style.color]="hover == 2 ? 'rgb(61, 164, 248)': ''"><i class="fa fa-cloud-download black"
                  [ngClass]="hover == 2 ? 'rotate360': ''" aria-hidden="true"></i>
                {{'media.download' | translate}}
              </a>
              <!-- <a class="dropdown-item cuso" (mouseenter)="hovers(3)" (mouseleave)="hoverOut()"
                [style.color]="hover == 3 ? 'rgb(61, 164, 248)': ''"><i class="fa fa-share-alt black"
                  [ngClass]="hover == 3 ? 'rotate360': ''" aria-hidden="true"></i>
                {{'media.share' | translate}}
              </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-right pagtination" *ngIf="pagination">
    <pagination-controls (pageChange)="p = $event" id="chart" previousLabel="Trang trước" nextLabel="Trang sau">
    </pagination-controls>
  </div>
</div>