.track {
  .track-item {
    width: 33.3%;
    color: white;
    margin: 0;
    float: left;
    height: 7em;
  }

  .custom-tr:hover {
    background: rgba(68, 68, 87, 0.43);
    box-shadow: 0 0 25px #635689;
  }

  .image-track {
    width: 4em;
    height: 4em;
    background-size: cover;
    // background-position: center !important;
    border-radius: 50%;
  }

  .track-name:hover {
    color: #20a7c4;
  }

  .view{
    color: #b7b3b3;
    font-size: 0.8em;
  }

  @keyframes rotate360 {
    100% {
      transform: rotate(360deg);
    }
  }

  .rotate360 {
    -webkit-animation: rotate360 0.3s linear;
    -moz-animation: rotate360 0.3s linear;
    -ms-animation: rotate360 0.3s linear;
    -o-animation: rotate360 0.3s linear;
    animation: rotate360 0.3s linear;
    color: rgb(61, 164, 248);
  }
  .pagtination{
    .show-for-sr{
      color: white !important;
    }
    span{
      color: white !important;
    }
    .pagination-next{
      a{
        color: white;
      }
      a:hover {
        color: #20a7c4;
        background: none;
      }
    }
    .pagination-previous {
      a{
        color: white;
      }
      a:hover {
        color: #20a7c4;
        background: none;
      }
    }
  }
}
