<div class="m-b-10 dialog-bg">
    <div class="admin">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="p-t-10 p-b-10 title">
                Thêm Album
            </div>
        </div>
        <form class="example-form my-2" [formGroup]="createForm">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-4">
                <div class="row">
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label class="white">Tên Album</mat-label>
                        <input matInput class="input-field" [formControlName]="'albumName'" maxlength="255">
                        <mat-error *ngIf="hasError('albumName','required')">
                            Tên chủ đề không được để trống
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label class="white">Mô tả</mat-label>
                        <input matInput class="input-field" [formControlName]="'albumDes'" maxlength="255">
                        <mat-error *ngIf="hasError('albumDes','required')">
                            Mô tả album không được để trống
                        </mat-error>
                    </mat-form-field>

                </div>
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-4">
                <div class="row">
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label>Chọn ngày phát hành</mat-label>
                        <input matInput [matDatepicker]="picker" [formControlName]="'albumReleaseDate'">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <mat-label class="label">Ảnh hiển thị</mat-label>
                        <input style="display: none" id="uploadImage" class="input-upload" type="file" name="file"
                            (change)="selectFile($event)" size="6MB" #fileInput>
                        <img (click)="fileInput.click()" class="img-upload" *ngIf="imgPath" [src]="imgPath">
                        <img (click)="fileInput.click()" class="img-upload" *ngIf="!imgPath"
                            src="assets/img/common/default-image.jpg">
                        <div *ngIf="!uploadEmpty" class="error">
                            {{messageErrorFile}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-4 text-right">
                <button type="button" mat-raised-button (click)="close()"> <i class="fa fa-times"></i> Đóng</button>
                <button type="button" mat-raised-button (click)="saveAlbum()" color="primary"><i
                        class="fa fa-floppy-o"></i>
                    Thêm</button>
            </div>
        </form>
    </div>
</div>