<div class="admin container-manager">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="unlock-title p-t-10 p-b-10 title">
                Danh sách bài hát đã tải lên
            </div>
        </div>
    </div>

    <div class="detail-table">
        <table class="table table-hover">
            <thead>
                <tr class="text-center">
                    <th scope="col" class="text-center">STT</th>
                    <th scope="col" style="width:20%">Tên bài hát</th>
                    <th scope="col">Ảnh hiển thị</th>
                    <th scope="col">Bài hát</th>
                    <th scope="col">Thời gian upload</th>
                    <th scope="col" style="width:20%">Mô tả</th>
                    <th scope="col">Hành động</th>
                </tr>
            </thead>
            <tbody *ngIf="!songs || songs.length == 0">
                <tr>
                    <td class="text-center" colspan="13">Danh sách trống</td>
                </tr>
            </tbody>
            <tbody *ngIf="songs && songs.length > 0">
                <tr *ngFor="let song of songs | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
                    <td class="middle text-center" scope="row">{{i + 1}}</td>
                    <td class="middle">{{song.name}}</td>
                    <td>
                        <img [src]="song.base64  | Base64" alt="" style="max-width: 70px; max-height: 70px;">
                    </td>
                    <td>
                        <audio class="w-100" controls [src]="song.songBase64 | Base64 : 'data:audio/mp3;base64,'"></audio>
                    </td>
                    <td>
                        {{song.releaseDate | date: 'dd/MM/yyyy HH:mm:ss'}}
                    </td>
                    <td class="middle" style="width: 20%;">
                        <span class="w-100" placement="right">
                            {{song.description}}
                        </span>
                    </td>
                    <td class="middle">
                        <i *ngIf="song.approved == 2" class="fa fa-eye pointer mr-2" aria-hidden="true"
                            (click)="detail(song.id)" tooltip="Xem chi tiết"></i>
                        <i *ngIf="song.approved == 2" class="fa fa-check pointer mr-2" aria-hidden="true"
                            (click)="accept(song.id)" tooltip="Chấp nhận"></i>
                        <i *ngIf="song.approved == 2" class="fa fa-ban pointer mr-2" aria-hidden="true"
                            (click)="reject(song.id)" tooltip="Từ chối"></i>
                        <span *ngIf="song.approved == 1">
                            Đã chấp nhận
                        </span>
                        <span *ngIf="song.approved == 0">
                            Đã từ chối
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-right">
        <pagination-controls (pageChange)="p = $event" previousLabel="Trang sau" nextLabel="Trang trước">

        </pagination-controls>
    </div>
</div>