.pointer {
  cursor: pointer;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #3f4560;
  color: #9dbfaf;
}

::ng-deep .ngx-pagination a,
.ngx-pagination button {
  color: #cacaca !important;
}

::ng-deep .ngx-pagination .disabled {
  color: #424865 !important;
}

.container-manager {
  .detail-table {
    table {
      table-layout: fixed;
      min-width: 700px;
      width: 100%;
      th,
      td {
        padding: 0.4rem !important;
      }

      tr {
        td {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          div {
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        th,td {
          vertical-align: middle;
        }

        th,
        td {
          &:nth-child(1) {
            width: 40px;
          }

          &:nth-child(4) {
            width: 300px;
          }
        }
      }
    }
  }
}
