<div class="m-b-10 dialog-bg" *ngIf="createForm">
    <div class="admin">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="p-t-10 p-b-10 title">
                Cấp lại mật khẩu
            </div>
        </div>
        <form class="example-form my-2" [formGroup]="createForm">
            <div class="row">

                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 mb-4">
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label class="white">Tên tài khoản</mat-label>
                        <input matInput class="input-field" [formControlName]="'name'" maxlength="255">
                        <mat-error *ngIf="hasErrorCreate('name','required')">
                            Tên tài khoản không được để trống
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 mb-4">
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label class="white">Email</mat-label>
                        <input matInput class="input-field" [formControlName]="'email'" maxlength="255">
                        <mat-error *ngIf="hasErrorCreate('email','required')">
                            Email không được để trống
                        </mat-error>

                        <mat-error *ngIf="hasErrorCreate('email','pattern')">
                            Email không đúng định dạng
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-12 mb-4 text-right">
                    <button type="button" mat-raised-button (click)="close()"> <i class="fa fa-times"></i> Đóng</button>
                    <button type="button" mat-raised-button (click)="sendOtp()" color="primary"><i
                            class="fa fa-floppy-o"></i>
                        Tiếp</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="m-b-10 dialog-bg" *ngIf="authenForm">
    <div class="admin">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="p-t-10 p-b-10 title">
                Nhập mã cấp lại mật khẩu đã được gửi về email của bạn!
            </div>
        </div>

        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 my-3">
            <div>
                <span style="color: #fff;">
                    Thời gian tồn tại mã:
                </span>
                <countdown [config]="{ leftTime: 570 }"></countdown>
            </div>
        </div>

        <form class="example-form my-2" [formGroup]="authenForm">
            <div class="row">

                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 mb-4">
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label class="white">Mã</mat-label>
                        <input matInput class="input-field" [formControlName]="'otp'" maxlength="255">
                        <mat-error *ngIf="hasErrorAuthen('otp','required')">
                            Mã cấp lại mật khẩu không được để trống
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-12 mb-4 text-right">
                    <button type="button" mat-raised-button (click)="close()"> <i class="fa fa-times"></i> Đóng</button>
                    <button type="button" mat-raised-button (click)="authenOTP()" color="primary"><i
                            class="fa fa-floppy-o"></i>
                        Tiếp</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="m-b-10 dialog-bg" *ngIf="newPassForm">
    <div class="admin">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="p-t-10 p-b-10 title">
                Cấp lại mật khẩu
            </div>
        </div>
        <form class="example-form my-2" [formGroup]="newPassForm">
            <div class="row">

                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 mb-4">
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label class="white">Mật khẩu mới</mat-label>
                        <input type="password" matInput class="input-field" [formControlName]="'newPass'"
                            maxlength="255">
                        <mat-error *ngIf="hasErrorNewPass('newPass','required')">
                            Mật khẩu mới không được để trống
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 mb-4">
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label class="white">Xác nhận</mat-label>
                        <input type="password" matInput class="input-field" [formControlName]="'newPassConfirm'"
                            maxlength="255">
                        <mat-error *ngIf="hasErrorNewPass('newPassConfirm','required')">
                            Xác nhận không được để trống
                        </mat-error>

                        <mat-hint class="error" *ngIf="checkValidForm('notSame')">
                            Mật khẩu không khớp
                        </mat-hint>
                    </mat-form-field>
                </div>

                <div class="col-12 mb-4 text-right">
                    <button type="button" mat-raised-button (click)="close()"> <i class="fa fa-times"></i> Đóng</button>
                    <button type="button" mat-raised-button (click)="saveNewPass()" color="primary"><i
                            class="fa fa-floppy-o"></i>
                        Lưu</button>
                </div>
            </div>
        </form>
    </div>
</div>