input {
    color: #fff !important;
}

.error {
    color: #f44336;
    font-size: 75%;
}

.count-down {
    color: red;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #fff !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #fff !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #fff !important;
}

::ng-deep .mat-form-field-label {
    color: #fff !important;
}