<div class="admin">
    <app-slideshow-search (search)="search($event)"></app-slideshow-search>
    <app-slideshow-list 
    (lockOrUnlock)="lockOrUnlock($event)"
    (delete)="delete($event)"
    [listSlideShow]="listSlideShow">
    </app-slideshow-list>
</div>