<div class="track-artist">
    <app-info [info]="artist" (selectAll)="listenAll()"></app-info>
    <div class="box-list mt-2">
        <div class="row"><h3>Bài hát</h3></div>
        <app-track [trackList]="songs"></app-track>
        <div class="row w-100">
            <h3>Album</h3>
        </div>
        <div class="carousel-inner w-100">
            <!-- <div class="slide-item" *ngFor="let album of albums; let index=index">
                <div class="m-0 p-3 image-slide">
                    <app-image-v [base64]="album.base64"></app-image-v>
                </div>
                <h6 class="text-center m-2 title cuso" (click)="select(album.id)">{{album.name}}</h6>
            </div> -->
            <app-content [lists]="albums"></app-content>
        </div>
    </div>
</div>