.track-artist {
  .image-slide {
    width: 100%;
    height: 35vh;

    background-size: cover;
    // background-position: center !important;
    border-radius: 10%;
  }
  .box-image {
    height: 35vh;
    padding-left: 10%;
    padding-right: 10%;
  }
  .box-list {
    padding-left: 10%;
    padding-right: 10%;
  }
  .image-slide {
    width: 100%;
    height: 35vh;
    background-size: cover;
    // background-position: center !important;
    border-radius: 10%;
  }
  padding: 1em;
  color: white;
  .image-slide {
    width: 100%;
    max-height: 27vh;
  }
  .carousel-indicators {
    z-index: -1 !important;
  }
  .slide-item {
    width: 20%;
    float: left;
  }
  .carousel-inner{
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .title:hover{
    color: #20a7c4;
  }
}
