<div class="search-respon pt-3">
    <h5>Kết quả tìm kiếm cho từ khoá "abc" :</h5>
    <h4 class="mt-3">Bài hát</h4>
    <div class="song">
        <app-track [trackList]="songs"></app-track>
    </div>
    <h4>Ca sĩ</h4>
    <div class="artist">
        <app-content [lists]="artists"></app-content>
    </div>
    <h4>Album</h4>
    <app-content [lists]="albums"></app-content>
</div>