<div class="box-select-song p-2 w-100">
    <div class="w-100">
        <form class="example-form col-md-12 col-lg-12 col-sm-12 col-xs-12 my-4" [formGroup]="form">
            <div class="row">
                <mat-form-field class="col-md-4 col-lg-4 col-sm-12 col-xs-12 p-0">
                    <input matInput class="input-field" [placeholder]="data.type == 'album' ? 'Tên Album' : 'Tên chủ đề'"
                        formControlName='name'>
                </mat-form-field>
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <button mat-raised-button (click)="search()">
                        <i class="fa fa-search"></i>
                        Tìm kiếm</button>
                </div>
            </div>
        </form>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col" width="20%">{{data.type == 'album' ? 'Tên Album' : 'Tên chủ đề'}}</th>
                <th scope="col">Ảnh</th>
                <th scope="col">Mô tả</th>
                <th scope="col" width="10%">Chọn</th>
            </tr>
        </thead>
        <tbody *ngIf="!list || list.length == 0">
            <tr>
                <td class="text-center" colspan="13">Danh sách trống</td>
            </tr>
        </tbody>
        <tbody *ngIf="list && list.length > 0">
            <tr *ngFor="let item of list | paginate: { itemsPerPage: 4, currentPage: p }; index as i">
                <th class="middle" scope="row">{{i + 1}}</th>
                <td class="middle">{{item.name}}</td>
                <td>
                    <img [src]="item.base64 | Base64" alt="" style="width: 50px;">
                </td>
                <td class="middle">{{item.description}}</td>
                <td class="middle">
                    <i class="fa fa-check" style="cursor:pointer" (click)="choose(item)" aria-hidden="true"></i>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="text-right">
        <pagination-controls (pageChange)="p = $event" previousLabel="Lùi" nextLabel="Tiến">

        </pagination-controls>
    </div>
    <div class="w-100">
        <div style="width: 200px; margin: auto;">
            <button type="button" mat-raised-button (click)="close()"> <i class="fa fa-times"></i> Đóng</button>
        </div>
    </div>
</div>