<div class="m-b-10 dialog-bg">
    <div class="admin">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="p-t-10 p-b-10 title">
                Thêm tài khoản
            </div>
        </div>
        <form class="example-form my-2" [formGroup]="createForm">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-4">
                <div class="row">
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label class="white">Tài Khoản</mat-label>
                        <input matInput class="input-field" [formControlName]="'userName'" maxlength="255">
                        <mat-error *ngIf="hasError('userName','required')">
                            Tài khoản không được để trống
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label class="white">Email</mat-label>
                        <input matInput class="input-field" [formControlName]="'userEmail'" maxlength="255">
                        <mat-error *ngIf="hasError('userEmail','required')">
                            Email không được để trống
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label class="white">Họ tên</mat-label>
                        <input matInput class="input-field" [formControlName]="'userFullName'" maxlength="255">
                        <mat-error *ngIf="hasError('userFullName','required')">
                            Họ tên người dùng không được để trống
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label class="white">Mật Khẩu</mat-label>
                        <input matInput class="input-field" [formControlName]="'passWord'" maxlength="255">
                        <mat-error *ngIf="hasError('passWord','required')">
                            Mật Khẩu không được để trống
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label class="white">Số Điện Thoại</mat-label>
                        <input matInput class="input-field" [formControlName]="'userPhone'" maxlength="255">
                        <mat-error *ngIf="hasError('userPhone','required')">
                            Số Điện thoại không được để trống
                        </mat-error>
                    </mat-form-field>

                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <mat-form-field class="w-100">
                            <mat-label>Giới tính</mat-label>
                            <mat-select [formControlName]="'userGrender'">
                                <mat-option *ngFor="let grender of userGrenders" [value]="grender.value">
                                    {{grender.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-4">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <mat-label class="label">Ảnh hiển thị</mat-label>
                        <input style="display: none" id="uploadImage" class="input-upload" type="file" name="file"
                            (change)="selectFile($event)" size="6MB" #fileInput>
                        <img (click)="fileInput.click()" class="img-upload" *ngIf="imgPath" [src]="imgPath">
                        <img (click)="fileInput.click()" class="img-upload" *ngIf="!imgPath"
                            src="assets/img/common/default-image.jpg">
                        <div *ngIf="!uploadEmpty" class="error">
                            {{messageErrorFile}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-4 text-right">
                <button type="button" mat-raised-button (click)="close()"> <i class="fa fa-times"></i> Đóng</button>
                <button type="button" mat-raised-button (click)="saveUserCreate()" color="primary"><i
                        class="fa fa-floppy-o"></i>
                    Thêm</button>
            </div>
        </form>
    </div>
</div>