.box-select-song {
  //   width: 100%;
  height: 83vh;
  .table-hover tbody tr:hover td,
  .table-hover tbody tr:hover th {
    background-color: #3f4560;
    color: #9dbfaf;
  }

  ::ng-deep mat-dialog-container {
    background: #191e38;
  }

  .poiter {
    cursor: pointer;
  }

  .img {
    max-width: 20%;
    max-height: 400px;
  }

  .middle {
    vertical-align: inherit;
  }

  ::ng-deep .ngx-pagination a,
  .ngx-pagination button {
    color: #cacaca !important;
  }

  ::ng-deep .ngx-pagination .disabled {
    color: #424865 !important;
  }
}
