<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="unlock-title p-t-10 p-b-10 title">
            Danh sách Bai hat
            <i class="fa fa-plus poiter" (click)="openCreate()" aria-hidden="true"></i>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên bài hát</th>
            <th scope="col">Ảnh</th>
            <th scope="col">Mô tả</th>
            <th scope="col">Ngày phát hành</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Hành động</th>
        </tr>
    </thead>
    <tbody *ngIf="!listSong || listSong.length == 0">
        <tr>
            <td class="text-center" colspan="13">Danh sách trống</td>
        </tr>
    </tbody>
    <tbody *ngIf="listSong && listSong.length > 0">
        <tr *ngFor="let song of listSong | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
            <th class="middle" scope="row">{{i + 1}}</th>
            <td class="middle">{{song.name}}</td>
            <td>
                <img [src]="song.base64 | Base64" alt="" style="width: 200px;">
            </td>
            <td class="middle">{{song.description}}</td>
            <td class="middle">{{song.releaseDate | date: 'dd/MM/yyyy'}}</td>
            <td class="middle">{{song.status == 1 ? 'Hoạt động' : 'Không hoạt động'}}</td>
            <td class="middle">
                <i class="fa fa-pencil poiter mr-2" aria-hidden="true" (click)="openEdit(song.id)"></i>
                <i class="fa fa-trash poiter mr-2" aria-hidden="true" (click)="deleteSong(song.id)"></i>
                <i *ngIf="song.status == 1" class="fa fa-lock poiter" (click)="lockUnlock(song)" aria-hidden="true"></i>
                <i *ngIf="song.status == 0" class="fa fa-unlock poiter" (click)="lockUnlock(song)" aria-hidden="true"></i>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-right">
    <pagination-controls (pageChange)="p = $event"
    previousLabel="Lùi"
    nextLabel="Tiến"
    >

    </pagination-controls>
</div>

