.upload {
    .wrap-check {
        position: relative;
        .checkBox {
            position: absolute;
            color: #fff;
            bottom: -50px;
        }
    }

    input {
        color: #fff !important;
    }

    .img-upload {
        width: 100%;
        max-height: 250px;
    }

    .error {
        color: #f44336;
        font-size: 75%;
    }

    .title-name {
        color: #fff !important;
        font-size: 2rem !important;
        line-height: 1.3 !important;
        font-weight: 700 !important;
    }

    .file-upload {
        width: 100%;
        height: 500px;
        padding: 2rem;
        text-align: center;
        border: dashed 1px #979797;
        position: relative;
        margin: 0 auto;

        input {
            opacity: 0;
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        label {
            color: white;
            width: 183px;
            height: 44px;
            border-radius: 21.5px;
            background-color: #db202f;
            padding: 8px 16px;
        }

        h3 {
            font-size: 20px;
            font-weight: 600;
            color: #fff;
        }
    }

    .des {
        max-height: 250px;
        min-height: 250px;
        background-color: #191e38;
        color: #fff;
    }

    .fileover {
        animation: shake 1s;
        animation-iteration-count: infinite;
    }

    .files-list {
        margin-top: 1.5rem;

        .single-file {
            display: flex;
            padding: 0.5rem;
            justify-content: space-between;
            align-items: center;
            border: dashed 1px #979797;
            margin-bottom: 1rem;

            .delete {
                display: flex;
                margin-left: 0.5rem;
                cursor: pointer;
                align-self: flex-end;
            }

            display: flex;
            flex-grow: 1;

            .name {
                font-size: 14px;
                font-weight: 500;
                color: #353f4a;
                margin: 0;
            }

            .size {
                font-size: 12px;
                font-weight: 500;
                color: #a4a4a4;
                margin: 0;
                margin-bottom: 0.25rem;
            }

            .info {
                width: 100%;
            }
        }
    }

    /* Shake animation */
    @keyframes shake {
        0% {
            transform: translate(1px, 1px) rotate(0deg);
        }

        10% {
            transform: translate(-1px, -2px) rotate(-1deg);
        }

        20% {
            transform: translate(-3px, 0px) rotate(1deg);
        }

        30% {
            transform: translate(3px, 2px) rotate(0deg);
        }

        40% {
            transform: translate(1px, -1px) rotate(1deg);
        }

        50% {
            transform: translate(-1px, 2px) rotate(-1deg);
        }

        60% {
            transform: translate(-3px, 1px) rotate(0deg);
        }

        70% {
            transform: translate(3px, 1px) rotate(-1deg);
        }

        80% {
            transform: translate(-1px, -1px) rotate(1deg);
        }

        90% {
            transform: translate(1px, 2px) rotate(0deg);
        }

        100% {
            transform: translate(1px, -2px) rotate(-1deg);
        }
    }
}

::ng-deep .mat-select-value {
    color: #fff !important;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #fff !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #fff !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #fff !important;
}

::ng-deep .mat-form-field-label {
    color: #fff !important;
}

::ng-deep .mat-checkbox-frame {
    border-color: #fff !important;
}
