<div class="admin">
    <app-user-search (search)="search($event)"></app-user-search>
    <app-user-list
    (lockOrUnlock)="lockOrUnlock($event)"
    (delete)="delete($event)"
    [listUser]="listUser">
    </app-user-list>
</div>