<div class="admin">
    <app-song-search (search)="search($event)"></app-song-search>
    <app-song-list 
    (lockOrUnlock)="lockOrUnlock($event)"
    (delete)="delete($event)"
    [listSong]="listSong">
    </app-song-list>
</div>
