.gener {
  padding: 1em;
  color: white;
  .image-slide {
    width: 100%;
    height: 35vh;
  }
  .carousel-indicators {
    z-index: -1 !important;
  }
  .right {
    right: -7.5% !important;
  }
  .left {
    left: -7.5% !important;
  }
  .slide-item {
    width: 20%;
    float: left;
  }
  .image-slide-item {
    // width: 58%;
  }
}
