<div class="m-b-10 dialog-bg">
    <div class="admin">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="p-t-10 p-b-10 title">
                Thêm thể loại
            </div>
        </div>
        <form class="example-form my-2" [formGroup]="createForm">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-4">
                <div class="row">
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label class="white">Tên thể loại</mat-label>
                        <input matInput class="input-field" [formControlName]="'genreName'" maxlength="255">
                        <mat-error *ngIf="hasError('genreName','required')">
                            Tên thể loại không được để trống
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <mat-label>Trạng thái</mat-label>
                        <mat-select [formControlName]="'genreStatus'">
                            <mat-option *ngFor="let status of statuses" [value]="status.value">
                                {{status.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-4">
                <div class="row">
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label class="white">Mô tả</mat-label>
                        <textarea matInput class="col-12 p-0 des" formControlName='genreDes'>
                            </textarea>
                        <mat-error *ngIf="hasError('genreDes','required')">
                            Mô tả thể loại không được để trống
                        </mat-error>
                        <mat-error *ngIf="hasError('genreDes','maxlength')">
                            Mô tả thể loại không quá 500 ký tự
                        </mat-error>
                    </mat-form-field>

                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <mat-label class="label">Ảnh hiển thị</mat-label>
                        <input style="display: none" id="uploadImage" class="input-upload" type="file" name="file"
                            (change)="selectFile($event)" size="6MB" #fileInput>
                        <img (click)="fileInput.click()" class="img-upload"
                            [src]="imgPath ? imgPath : genre.base64 |Base64">
                        <div *ngIf="!uploadEmpty" class="error">
                            {{messageErrorFile}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-4 text-right">
                <button mat-raised-button (click)="close()"> <i class="fa fa-times"></i> Đóng</button>
                <button mat-raised-button (click)="saveGenre()" color="primary"> <i class="fa fa-floppy-o"></i>
                    Lưu</button>
            </div>
        </form>
    </div>
</div>