<div class="m-b-10 dialog-bg">
    <div class="admin">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="p-t-10 p-b-10 title">
                Thêm chủ đề
            </div>
        </div>
        <form class="example-form my-2" [formGroup]="createForm">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-4">
                <div class="row">
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label class="white">Tên chủ đề</mat-label>
                        <input matInput class="input-field" [formControlName]="'topicName'" maxlength="255">
                        <mat-error *ngIf="hasError('topicName','required')">
                            Tên chủ đề không được để trống
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label class="white">Mô tả</mat-label>
                        <input matInput class="input-field" [formControlName]="'topicDes'" maxlength="255">
                        <mat-error *ngIf="hasError('topicDes','required')">
                            Mô tả chủ đề không được để trống
                        </mat-error>
                    </mat-form-field>

                </div>
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-4">
                <div class="row">
                    <!-- <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <mat-form-field>
                            <mat-label>Trạng thái</mat-label>
                            <mat-select [formControlName]="'topicStatus'">
                                <mat-option *ngFor="let status of statuses" [value]="status.value">
                                    {{status.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->

                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <mat-label class="label">Ảnh hiển thị</mat-label>
                        <input style="display: none" id="uploadImage" class="input-upload" type="file" name="file"
                            (change)="selectFile($event)" size="6MB" #fileInput>
                        <img (click)="fileInput.click()" class="img-upload" [src]="imgPath ? imgPath : topic.url">
                        <div *ngIf="!uploadEmpty" class="error">
                            {{messageErrorFile}}
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="row text-right m-0 p-0 mb-2">
                            <button type="button" mat-raised-button (click)="openSong()" color="primary"><i
                                    class="fa fa-plus" aria-hidden="true"></i>
                                Thêm bài hát</button>
                        </div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Tên bài hát</th>
                                    <th scope="col">Ảnh</th>
                                    <th scope="col">Xoá</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!listSong || listSong.length == 0">
                                <tr>
                                    <td class="text-center" colspan="13">Danh sách trống</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="listSong && listSong.length > 0">
                                <tr
                                    *ngFor="let song of listSong | paginate: { itemsPerPage: 4, currentPage: p }; index as i">
                                    <th class="middle" scope="row">{{i + 1}}</th>
                                    <td class="middle">{{song.name}}</td>
                                    <td>
                                        <img [src]="song.base64 | Base64" alt="" style="width: 50px;">
                                    </td>
                                    <td class="middle">
                                        <i class="fa fa-trash poiter mr-2" aria-hidden="true"
                                            (click)="delete(song.id)"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-4 text-right">
                <button mat-raised-button (click)="close()"> <i class="fa fa-times"></i> Đóng</button>
                <button mat-raised-button (click)="saveTopic()" color="primary"> <i class="fa fa-floppy-o"></i>
                    Lưu</button>
            </div>
        </form>
    </div>
</div>