<div class="m-b-10 dialog-bg">
    <div class="admin">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="p-t-10 p-b-10 title">
                Cập nhật tin tức
            </div>
        </div>
        <form class="example-form my-2" *ngIf="createForm" [formGroup]="createForm">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-4">
                <div class="row">

                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label class="white">Tiêu đề</mat-label>
                        <input matInput class="input-field" [formControlName]="'slideTitle'" maxlength="255">
                        <mat-error *ngIf="hasError('slideTitle','required')">
                            Tiêu đề tin tức không được để trống
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label class="white">Mô tả</mat-label>
                        <input matInput class="input-field" name="des" [formControlName]="'description'" maxlength="255">
                        <mat-error *ngIf="hasError('description','required')">
                            Mô tả tin tức không được để trống
                        </mat-error>
                    </mat-form-field>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-form-field class="w-100">
                            <mat-label>Loại</mat-label>
                            <mat-select [formControlName]="'type'">
                                <mat-option [value]="'song'">
                                    Bài hát
                                </mat-option>
                                <!-- <mat-option [value]="'artist'">
                                    Ca sĩ
                                </mat-option> -->
                                <mat-option [value]="'album'">
                                    Album
                                </mat-option>
                                <mat-option [value]="'topic'">
                                    Chủ đề
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="hasError('type','required')">
                                Loại tin tức không được để trống
                            </mat-error>
                        </mat-form-field>
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" mat-raised-button (click)="openType()" color="primary"><i
                                        class="fa fa-floppy-o"></i>
                                    Chọn</button>
                            </div>
                            <div class="col-md-9">
                                <mat-form-field class="w-100">
                                    <input matInput readonly class="input-field" [formControlName]="'select'"
                                        maxlength="255">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <mat-label class="label">Ảnh hiển thị</mat-label>
                        <input style="display: none" id="uploadImage" class="input-upload" type="file" name="file"
                            (change)="selectFile($event)" size="6MB" #fileInput>
                        <img (click)="fileInput.click()" class="img-upload" *ngIf="imgPath" [src]="imgPath">
                        <img (click)="fileInput.click()" class="img-upload" *ngIf="!imgPath"
                            src="assets/img/common/default-image.jpg">
                        <div *ngIf="!uploadEmpty" class="error">
                            {{messageErrorFile}}
                        </div>
                    </div>
                </div>
            </div>



            <!-- <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-4">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <mat-label class="label">Ảnh hiển thị</mat-label>
                        <input style="display: none" id="uploadImage" class="input-upload" type="file" name="file"
                            (change)="selectFile($event)" size="6MB" #fileInput>
                        <img (click)="fileInput.click()" class="img-upload" *ngIf="imgPath" [src]="imgPath">
                        <img (click)="fileInput.click()" class="img-upload" *ngIf="!imgPath"
                            src="assets/img/common/default-image.jpg">
                        <div *ngIf="!uploadEmpty" class="error">
                            {{messageErrorFile}}
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-12 mb-4 text-right">
                <button type="button" mat-raised-button (click)="close()"> <i class="fa fa-times"></i> Đóng</button>
                <button type="button" mat-raised-button (click)="saveSlideShow()" color="primary"><i
                        class="fa fa-floppy-o"></i>
                    Thêm</button>
            </div>
        </form>
    </div>
</div>