<div class="admin">
    <app-album-search (search)="search($event)"></app-album-search>
    <app-album-list 
    (lockOrUnlock)="lockOrUnlock($event)"
    (delete)="delete($event)"
    [listAlbum]="listAlbum">
    </app-album-list>
</div>
