<div class="m-b-10 " *ngIf="userProfile">
    <div class="admin">
        <form class="example-form my-4" [formGroup]="createForm">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-4">
                <div class="row">
                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label class="white">Tên đầy đủ</mat-label>
                        <input matInput class="input-field" [formControlName]="'fullName'" maxlength="255">
                        <mat-error *ngIf="hasError('fullName','required')">
                            Tên đầy đủ không được để trống
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
                        <mat-label class="white">Số điện thoại</mat-label>
                        <input matInput class="white" autocomplete="off" name="phone" formControlName="phone"
                            maxlength=11>
                        <mat-error *ngIf="hasError('phone','required')">
                            Số điện thoại không được để trống
                        </mat-error>

                        <mat-error *ngIf="hasError('phone','pattern')">
                            Số điện thoại không đúng định dạng
                        </mat-error>
                    </mat-form-field>

                </div>
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-4">
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <mat-label class=" col-form-label pb-0 custom-label white">
                            Giới tính</mat-label>
                        <div class=" radio-custom" style="margin-top: 5px;">
                            <mat-radio-group class="white" name="gender" aria-label="Select an option"
                                formControlName="gender">
                                <div class="row col-12 p-0">
                                    <mat-radio-button class="col-6" value="1">Nam</mat-radio-button>
                                    <mat-radio-button class="col-6" value="0">Nữ</mat-radio-button>
                                </div>
                            </mat-radio-group>
                        </div>
                    </div>

                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <mat-form-field class="w-100">
                            <mat-label class="white">Ngày sinh</mat-label>
                            <input matInput class="white" autocomplete="off" formControlName="birthday"
                                [matDatepicker]="birthday" formControlName="birthday" [min]="mdtMinDate"
                                [max]="mdtMaxDate">
                            <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
                            <mat-datepicker #birthday></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-4">
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <button type="button" mat-raised-button (click)="reissuePass()" color="primary">
                            Cấp lại mật khẩu</button>
                    </div>
                </div>
            </div>

            <div class="col-12 mb-4 text-right">
                <button type="button" mat-raised-button (click)="save()" color="primary"><i class="fa fa-floppy-o"></i>
                    Sửa</button>
            </div>
        </form>
    </div>
</div>