input {
    color: #fff !important;
}

.img-upload {
    width: 100%;
    max-height: 400px;
}

.error {
    color: #f44336;
    font-size: 75%;
}

mat-label {
    color: #fff !important;
}


::ng-deep .mat-radio-outer-circle {
    border-color: #fff !important;
}