.history-upload {
    .table-hover tbody tr:hover td,
    .table-hover tbody tr:hover th {
        background-color: #3f4560;
        color: #9dbfaf;
    }

    .sitemessage:hover {
        display: inline-block;
        white-space: nowrap;
        animation: floatText 2s infinite linear;
        padding-left: 100%; /*Initial offset*/
    }

    .sitemessage {
        animation-play-state: paused;
    }

    @keyframes floatText {
        to {
            transform: translateX(-100%);
        }
    }

    .middle {
        vertical-align: inherit;
    }
    
    .poiter {
        cursor: pointer;
    }
}

::ng-deep .ngx-pagination a, .ngx-pagination button {
    color: #cacaca !important;
}

::ng-deep .ngx-pagination .disabled {
    color: #424865 !important;
}
