<div class="history-upload">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="unlock-title p-t-10 p-b-10 title">
                Danh sách tải lên
            </div>
        </div>
    </div>

    <table class="table table-hover scrollSongs">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Ảnh</th>
                <th scope="col">Tên bài hát</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Hành động</th>
            </tr>
        </thead>
        <tbody *ngIf="!listSong || listSong.length == 0">
            <tr>
                <td class="text-center" colspan="13">Danh sách trống</td>
            </tr>
        </tbody>
        <tbody *ngIf="listSong && listSong.length > 0">
            <tr *ngFor="let song of listSong | paginate: { itemsPerPage: 10, currentPage: p };; index as i">
                <th class="middle" scope="row">{{i + 1}}</th>
                <td>
                    <img [src]="song.url" alt="" style="width: 50px; max-height: 50px;  min-height: 50px;">
                </td>
                <td class="middle">
                    <div class="sitemessage">
                        {{song.name}}
                    </div>
                </td>
                <td class="middle">
                    {{song.approved == 0 ? 'Từ chối' : (song.approved == 1 ? 'Đã duyệt' : 'Đang chờ')}}
                </td>
                <td class="middle" style="width: 8%;">
                    <button *ngIf="song.approved == 2" (click)="revoke(song.id)">
                        <i class="fa fa-undo poiter mr-2" aria-hidden="true"></i>Thu hồi
                    </button>

                </td>
            </tr>
        </tbody>
    </table>

    <div class="text-right" *ngIf="listSong && listSong.length > 0">
        <pagination-controls (pageChange)="p = $event" previousLabel="Lùi" nextLabel="Tiến">

        </pagination-controls>
    </div>
</div>