<div class="admin">
    <app-artist-search (search)="search($event)"></app-artist-search>
    <app-artist-list 
    (showChoose)="false"
    (lockOrUnlock)="lockOrUnlock($event)"
    (delete)="delete($event)"
    [listArtist]="listArtist"
    [countries]="countries">
    </app-artist-list>
</div>
